Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): update dependency @babel/core to v7.29.6 [security]
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: none

build(deps): update dependency tar to v7.5.16 [security]
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: none

build(deps): update dependency js-yaml to v4.2.0 [security]
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: none

build(deps): update dependency form-data to v4.0.6 [security]
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

docs(oidc): add Technitium DNS Server integration guide
  docs/content/integration/openid-connect/clients/technitium/index.md
Due: none

test: fix tests
  internal/authentication/file_user_provider_database_test.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/schema/types_test.go
  internal/model/totp_configuration_test.go
  internal/model/webauthn_test.go
  internal/templates/funcs_test.go
Due: backend

refactor: factorize sql errors and methods
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_consent.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/errors.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_test.go
  internal/storage/sql_provider_util.go
Due: backend

fix(handlers): incorrect middleware use
  internal/server/handlers.go
  web/src/services/UserInfoTOTPConfiguration.ts
Due: backend, frontend

fix(metrics): missing record invocation
  internal/regulation/regulator.go
Due: backend

docs: update grant types
  docs/content/integration/openid-connect/introduction.md
  docs/hugo_stats.json
Due: none

fix(authorization): legacy wildcard consistency
  internal/authorization/access_control_domain.go
  internal/authorization/authorizer_test.go
Due: backend

refactor: apply suggestions
  internal/storage/sql_provider.go
Due: backend

docs(oidc): add userinfo option to nextcloud user_oidc (#12209)
  docs/content/integration/openid-connect/clients/nextcloud/index.md
Due: none

test(handlers): add tests to uri helper
  internal/handlers/handler_authz_common_test.go
Due: backend

test(web): fix tests
  web/src/services/UserInfoTOTPConfiguration.test.ts
Due: frontend

refactor: suggestions
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_domain_test.go
  internal/authorization/authorizer_test.go
Due: backend

fix(handlers): incorrect middleware use (#12339)
  internal/server/handlers.go
  web/src/services/UserInfoTOTPConfiguration.test.ts
  web/src/services/UserInfoTOTPConfiguration.ts
Due: backend, frontend

test(handlers): add tests to uri helper (#12353)
  internal/handlers/handler_authz_common_test.go
Due: backend

docs(oidc): remove configuration escape hatch from headscale
  docs/content/integration/openid-connect/clients/headscale/index.md
Due: none

docs(oidc): update headscale (#12354)
  docs/content/integration/openid-connect/clients/headscale/index.md
Due: none

refactor: suggestions
  docs/content/configuration/prologue/common.md
  docs/content/configuration/security/access-control.md
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_domain_test.go
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer_test.go
  internal/authorization/util.go
  internal/configuration/const.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/access_control_test.go
Due: backend

refactor: suggestions
  cmd/authelia-gen/helpers.go
  cmd/authelia-scripts/cmd/gen.go
  docs/data/misc.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/authorization/access_control_domain.go
  internal/authorization/authorizer_test.go
Due: backend

Update docs/content/integration/openid-connect/clients/roundcube/index.md
  docs/content/integration/openid-connect/clients/roundcube/index.md
Due: none

Update index.md
  docs/content/integration/openid-connect/clients/jellyfin/index.md
Due: none

fix(oidc): client credentials at jwt missing sub
  internal/oidc/session.go
  internal/oidc/session_test.go
Due: backend

build(deps): update dependency esbuild to v0.28.1 [security]
  internal/templates/src/package.json
Due: backend

build(deps): update dependency esbuild to v0.28.1 [security]
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
Due: backend

docs(oidc): add note for wallos v4.9.6
  docs/content/integration/openid-connect/clients/wallos/index.md
Due: none

refactor: factorize sql errors and methods (#12338)
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_consent.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/errors.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_test.go
  internal/storage/sql_provider_util.go
Due: backend

fix(metrics): missing record invocation (#12267)
  internal/regulation/regulator.go
Due: backend

docs: update grant types (#12197)
  docs/content/integration/openid-connect/introduction.md
  docs/hugo_stats.json
Due: none

fix(oidc): client credentials at jwt missing sub (#12372)
  internal/oidc/session.go
  internal/oidc/session_test.go
Due: backend

test: fix tests
  internal/authorization/authorizer_test.go
  internal/configuration/const.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_blackbox_test.go
  internal/configuration/decode_hooks_test.go
Due: backend

docs(oidc): move wallos note to instructions
  docs/content/integration/openid-connect/clients/wallos/index.md
Due: none

docs: Fix missing csp_template paragraph title
  docs/content/configuration/miscellaneous/server.md
Due: none

feat(storage): use gcm aad for encryption key
  internal/commands/storage_run_test.go
  internal/session/encrypting_serializer.go
  internal/storage/export_test.go
  internal/storage/migrations/mysql/V0025.StorageAAD.down.sql
  internal/storage/migrations/mysql/V0025.StorageAAD.up.sql
  internal/storage/migrations/postgres/V0025.StorageAAD.down.sql
  internal/storage/migrations/postgres/V0025.StorageAAD.up.sql
  internal/storage/migrations/sqlite/V0025.StorageAAD.down.sql
  internal/storage/migrations/sqlite/V0025.StorageAAD.up.sql
  internal/storage/migrations_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_special.go
  internal/storage/types.go
  internal/utils/aes.go
  internal/utils/aes_test.go
Due: backend

docs: fix missing heading (#12411)
  docs/content/configuration/miscellaneous/server.md
Due: none

docs: fix typo in build-and-test guide
  docs/content/contributing/development/build-and-test.md
Due: none

build: update sysusers.d
  authelia.sysusers.conf
Due: none

refactor: implement new methods
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/types.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/mocks/, internal/suites/, internal/**/*_mock_test.go, **/coverage.txt
  frontend: any of: web/, but not: web/coverage/, web/src/serviceWorker.ts, **/coverage.txt
