Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat: use 32 bytes for session id
  docs/content/configuration/miscellaneous/server.md
  internal/cache/provider.go
  internal/cache/provider_test.go
  internal/configuration/schema/const.go
  internal/configuration/schema/server.go
  internal/configuration/validator/server_test.go
  internal/middlewares/const.go
  internal/middlewares/health.go
  internal/middlewares/health_test.go
  internal/session/codec.go
  internal/session/codec_test.go
  internal/session/const.go
  internal/session/strategy.go
  internal/session/strategy_errors_test.go
  internal/session/strategy_test.go
  internal/session/types.go
  internal/storage/sql_provider_session.go
  internal/storage/sql_provider_session_errors_test.go
Due: backend

fix: session cache
  internal/cache/memory.go
  internal/cache/memory_test.go
  internal/cache/redis.go
  internal/cache/redis_client_test.go
  internal/cache/redis_test.go
  internal/session/const.go
  internal/session/strategy.go
  internal/session/strategy_errors_test.go
  internal/session/strategy_test.go
  internal/session/types.go
  internal/storage/sql_provider_session.go
  internal/storage/sql_provider_session_test.go
Due: backend

fix: misc fixes
  internal/cache/const.go
  internal/cache/redis.go
  internal/cache/redis_client_test.go
  internal/cache/redis_test.go
  internal/configuration/validator/cache.go
  internal/middlewares/health_test.go
  internal/storage/sql_provider_session.go
Due: backend

fix: misc fixes
  internal/cache/const.go
  internal/cache/memory.go
  internal/cache/memory_test.go
  internal/session/const.go
  internal/session/types.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_backend_postgres_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_session.go
  internal/storage/sql_provider_session_test.go
Due: backend

fix: misc fixes
  docs/content/configuration/cache/redis-sentinel.md
  docs/content/configuration/cache/redis.md
  internal/configuration/validator/cache.go
  internal/configuration/validator/cache_test.go
  internal/configuration/validator/const.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_firstfactor_session_test.go
  internal/handlers/util_session_test.go
  internal/middlewares/authelia_context_session_cache_test.go
  internal/middlewares/authelia_context_session_test.go
  internal/session/session_test.go
  internal/session/strategy.go
  internal/session/strategy_errors_test.go
  internal/session/strategy_test.go
Due: backend

fix: misc fixes
  config.template.yml
  docs/content/configuration/miscellaneous/server.md
  internal/authentication/user_provider.go
  internal/configuration/config.template.yml
  internal/configuration/validator/server_test.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_session_test.go
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_register_totp_test.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/handler_webauthn_credentials_test.go
  internal/handlers/util.go
  internal/handlers/util_session_test.go
  internal/middlewares/authelia_context_session_test.go
  internal/middlewares/const.go
  internal/middlewares/health_test.go
  internal/session/strategy_test.go
Due: backend

test: fix tests
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: none

Update openCloud version and desktop client notes
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

refactor: apply suggestions
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

docs(oidc): update owncloud (#13277)
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

fix(web): use theme tokens for otp input styling (#13252)
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

refactor: suggestions
  docs/content/configuration/methods/files.md
Due: none

refactor: lint
  docs/content/configuration/methods/files.md
  internal/configuration/decode_hooks.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/model/uuid.go
  internal/oidc/subject.go
Due: backend

refactor: backwards compat
  internal/commands/const.go
  internal/commands/context.go
  internal/commands/root.go
  internal/commands/util.go
  internal/commands/util_test.go
Due: backend

docs(oidc): update mastodon (#13241)
  docs/content/integration/openid-connect/clients/mastodon/index.md
Due: none

docs(oidc): update vault (#13188)
  docs/content/integration/openid-connect/clients/hashicorp-vault/index.md
Due: none

refactor: apply suggestion
  docs/content/integration/openid-connect/clients/gitea/index.md
Due: none

docs(oidc): update gitea (#13145)
  docs/content/integration/openid-connect/clients/gitea/index.md
Due: none

docs: update smtp.md (#12791)
  docs/content/configuration/notifications/smtp.md
Due: none

DOC - Correct typo
  docs/content/integration/openid-connect/clients/hashicorp-vault/index.md
Due: none

feat(handlers): derive authz response headers from user attributes
  config.template.yml
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  internal/authentication/types.go
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_misc_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/handlers/handler_authz_util_test.go
  internal/middlewares/authelia_context.go
  internal/mocks/authelia_context.go
Due: backend

refactor: apply batched suggestions from code review
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_util.go
Due: backend

refactor: suggestions
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
Due: backend

refactor: suggestions
  internal/configuration/validator/server_test.go
Due: backend

refactor: suggestions
  internal/handlers/handler_authz_authn.go
Due: backend

refactor: update internal/configuration/const.go
  internal/configuration/const.go
Due: backend

test: add test
  internal/suites/Standalone/configuration.yml
  internal/suites/Standalone/users.yml
  internal/suites/suite_standalone_test.go
Due: none

refactor: apply batched suggestions from code review
  internal/suites/suite_standalone_test.go
Due: none

test: add test
  internal/suites/suite_standalone_test.go
Due: none

feat(server): serve custom static assets
  docs/content/reference/guides/server-asset-overrides.md
  internal/server/asset.go
  internal/server/asset_test.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: backend

build(deps): update oauth2
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/storage/migrations.md
  docs/content/integration/openid-connect/introduction.md
  go.mod
  go.sum
  internal/configuration/validator/util.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_consent_extra_test.go
  internal/handlers/handler_oauth2_device_authorization_test.go
  internal/mocks/oidc_client.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config_test.go
  internal/oidc/issuer.go
  internal/oidc/issuer_algorithms_test.go
  internal/oidc/store.go
  internal/oidc/store_refresh_reuse_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/errors_test.go
  internal/storage/migrations/mysql/V0030.OAuth2DeviceCodeUnique.down.sql
  internal/storage/migrations/mysql/V0030.OAuth2DeviceCodeUnique.up.sql
  internal/storage/migrations/postgres/V0030.OAuth2DeviceCodeUnique.down.sql
  internal/storage/migrations/postgres/V0030.OAuth2DeviceCodeUnique.up.sql
  internal/storage/migrations/sqlite/V0030.OAuth2DeviceCodeUnique.down.sql
  internal/storage/migrations/sqlite/V0030.OAuth2DeviceCodeUnique.up.sql
  internal/storage/migrations_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_test.go
  internal/storage/sql_provider_util.go
Due: backend

feat(handlers): derive authz response headers from user attributes (#9346)
  config.template.yml
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  internal/authentication/types.go
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_misc_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/handlers/handler_authz_util_test.go
  internal/middlewares/authelia_context.go
  internal/mocks/authelia_context.go
  internal/suites/Standalone/configuration.yml
  internal/suites/Standalone/users.yml
  internal/suites/suite_standalone_test.go
Due: backend

test(suites): stabilise the kubernetes suite setup
  internal/suites/example/kube/00-namespace.yml
  internal/suites/kubernetes.go
  internal/suites/suite_kubernetes.go
  internal/utils/exec.go
  internal/utils/exec_unix.go
  internal/utils/exec_unix_test.go
  internal/utils/exec_windows.go
Due: backend

refactor: code suggestions
  internal/suites/suite_kubernetes.go
  internal/utils/exec_unix.go
  internal/utils/exec_unix_test.go
  internal/utils/exec_windows.go
Due: backend

test(suites): stabilise the kubernetes suite setup (#13295)
  internal/suites/example/kube/00-namespace.yml
  internal/suites/kubernetes.go
  internal/suites/suite_kubernetes.go
  internal/utils/exec.go
  internal/utils/exec_unix.go
  internal/utils/exec_unix_test.go
Due: backend
