Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

ci: fix .all-contributorsrc
  .all-contributorsrc
Due: none

ci: fix commit message for .all-contributorsrc (#11460)
  .all-contributorsrc
Due: none

ci: fix adding contributor erusc to .all-contributorsrc
  .all-contributorsrc
Due: none

Update .all-contributorsrc
  .all-contributorsrc
Due: none

feat: working frontend create, update, delete
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/types.go
  internal/authentication/user_management_ldap_activedirectory.go
  internal/authentication/user_management_ldap_rfc2307bis.go
  internal/authentication/user_management_provider.go
  internal/authentication/user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/identity_validation.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/notifier.go
  internal/configuration/schema/session.go
  internal/configuration/schema/storage.go
  internal/configuration/validator/authentication.go
  internal/handlers/handler_user_management.go
  internal/mocks/user_provider.go
  internal/server/handlers.go
  internal/server/locales/en/settings.json
  internal/suites/LDAP/configuration.yml
  internal/utils/strings.go
  web/src/components/UserInputField.tsx
  web/src/hooks/UserManagement.ts
  web/src/models/UserManagement.ts
  web/src/services/Api.ts
  web/src/services/Client.ts
  web/src/services/UserManagement.ts
  web/src/views/Settings/UserManagement/EditUserDialog.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.tsx
  web/src/views/Settings/UserManagement/UserManagementView.tsx
Due: backend, frontend

fix: issues
  cmd/authelia-gen/types.go
  internal/handlers/handler_user_management.go
  internal/model/totp_configuration.go
  internal/oidc/config.go
  internal/session/types.go
  internal/storage/types.go
  internal/suites/action_totp.go
  internal/suites/suites_credentials.go
  web/src/services/UserInfo.ts
  web/src/services/UserManagement.ts
  web/src/views/Settings/UserManagement/UserManagementView.tsx
Due: backend, frontend

docs: fix build
  docs/config/_default/module.toml
  docs/config/_default/params.toml
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

feat: add support for extra attributes
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_util.go
  internal/authentication/user_management_ldap_rfc2307bis.go
  internal/authentication/user_management_provider.go
  internal/authentication/user_provider.go
  internal/handlers/handler_user_management.go
  internal/suites/LDAP/configuration.yml
  internal/suites/example/compose/ldap/schema/authelia-attributes.schema
  web/src/components/UserInputField.tsx
  web/src/models/UserManagement.ts
  web/src/services/UserManagement.ts
  web/src/views/Settings/UserManagement/EditUserDialog.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.tsx
Due: backend, frontend

docs(web): research existing dialog patterns for mfa enrollment redirect
  web/src/views/Settings/TwoFactorAuthentication/.redirect-research-notes
Due: frontend

fix(web): tailwind aesthetic and button consistency
  web/src/components/HomeButton.tsx
  web/src/components/SignOutButton.tsx
  web/src/components/UI/Button.tsx
  web/src/components/WebAuthnTryIcon.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormView.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/Common/SecondFactorDialog.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/DeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialEditDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: frontend

fix(web): broken pointer-events and visually aligned components
  internal/suites/action_totp.go
  web/src/components/AppBarItemLanguage.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/components/UI/Stepper.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
Due: frontend

fix(web): tailwind refactor issues
  web/src/components/NotificationBar.tsx
  web/src/components/UI/FloatingInput.tsx
  web/src/components/UI/Input.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialEditDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: frontend

fix(web): oidc visual alignment and fix disappearing claims
  web/src/components/UI/Button.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormClaims.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormScopes.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormView.tsx
Due: frontend

fix(web): restore original font and restore spacing to usersvg wrapper
  web/src/index.css
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
Due: frontend

fix(suites): address dev environment setup timing issue
  internal/suites/environment.go
  internal/suites/scenario_multiple_cookie_domain_test.go
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_caddy.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_envoy.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_multi_cookie_domain.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik3.go
  internal/suites/suite_two_factor.go
  internal/suites/utils.go
Due: none

fix(web): hsl in css for ide rendering
  web/src/index.css
  web/src/themes/tailwind-themes.css
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
Due: frontend

refactor(web): sq recommendations
  web/src/components/AppBarItemAccountSettings.tsx
  web/src/components/AppBarItemLanguage.tsx
  web/src/components/NotificationBar.tsx
  web/src/components/UI/Spinner.tsx
  web/src/components/UI/Stepper.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
Due: frontend

docs: fix build and dev
  docs/config/_default/module.toml
  docs/config/postcss.config.js
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: include hugo in project
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: fix netlify
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor(web): update override deps
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor(web): use typescript aware no-unused-vars
  web/eslint.config.mjs
  web/src/models/Methods.ts
  web/src/models/PasswordPolicy.ts
  web/src/models/TOTPConfiguration.ts
  web/src/models/WebAuthn.ts
  web/src/services/State.ts
  web/src/themes/index.ts
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
Due: frontend

docs: adjust breakpoint
  docs/config/_default/params.toml
Due: none

docs: fix build (#11471)
  docs/config/_default/module.toml
  docs/config/_default/params.toml
  docs/config/postcss.config.js
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor(web): use typescript aware no-unused-vars (#11491)
  web/eslint.config.mjs
  web/src/models/Methods.ts
  web/src/models/PasswordPolicy.ts
  web/src/models/TOTPConfiguration.ts
  web/src/models/WebAuthn.ts
  web/src/services/State.ts
  web/src/themes/index.ts
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
Due: frontend

refactor(web): disable tests
  web/src/components/NotificationBar.test.tsx
  web/src/contexts/NotificationsContext.test.tsx
  web/src/views/LoginPortal/LoginPortal.test.tsx
Due: frontend

refactor(web): eslint config
  web/eslint.config.mjs
Due: frontend

docs: update security policy
  SECURITY.md
  docs/content/policies/security.md
Due: none

fix(handlers): recovered deref panic for otc
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
Due: backend

ci(buildkite): fix removal of protected images
  .buildkite/hooks/pre-exit
Due: none

ci(buildkite): cleanup volumes
  .buildkite/hooks/pre-exit
Due: none

fix(handlers): recovered deref panic for otc (#11500)
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
Due: backend

docs: update security policy (#11499)
  SECURITY.md
  docs/content/policies/security.md
Due: none

refactor(web): update override deps (#11486)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

ci(buildkite): fix removal of protected images (#11501)
  .buildkite/hooks/pre-exit
Due: none

feat(webauthn): related origins
  api/openapi.yml
  docs/content/configuration/second-factor/webauthn.md
  internal/configuration/schema/keys.go
  internal/configuration/schema/webauthn.go
  internal/configuration/validator/const.go
  internal/configuration/validator/webauthn.go
  internal/handlers/handler_webauthn_credentials.go
  internal/handlers/handler_webauthn_wellknown.go
  internal/middlewares/authelia_context.go
  internal/server/handlers.go
  internal/webauthn/util.go
Due: backend

feat(web): scaffold redirect after enrollment dialog component
  web/src/views/Settings/TwoFactorAuthentication/RedirectAfterEnrollmentDialog.tsx
Due: frontend
