Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat(identity): github provider
  REUSE.toml
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/github.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  internal/identity/const.go
  internal/identity/provider_github.go
  internal/identity/provider_github_test.go
  internal/identity/registry.go
  internal/identity/registry_test.go
  internal/identity/types.go
  web/src/assets/images/identity/github.svg
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.test.tsx
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.tsx
Due: backend, frontend

feat(identity): discord provider
  REUSE.toml
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/discord.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  internal/handlers/handler_firstfactor_external_identity_test.go
  internal/identity/amr.go
  internal/identity/const.go
  internal/identity/doc.go
  internal/identity/provider_discord.go
  internal/identity/provider_discord_test.go
  internal/identity/registry.go
  internal/identity/registry_test.go
  internal/identity/types.go
  web/src/assets/images/identity/discord.svg
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.test.tsx
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.tsx
Due: backend, frontend

feat(identity): plex provider
  REUSE.toml
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  docs/content/integration/external-identity/plex.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  internal/identity/const.go
  internal/identity/provider_plex.go
  internal/identity/provider_plex_test.go
  internal/identity/registry.go
  internal/identity/registry_test.go
  internal/identity/types.go
  web/src/assets/images/identity/plex.svg
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.test.tsx
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityIcon.tsx
Due: backend, frontend

feat(totp): make the suggested authenticator app configurable (#13095)
  config.template.yml
  docs/content/configuration/second-factor/time-based-one-time-password.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/totp.go
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
  internal/server/locales/en/settings.json
  internal/server/public_html/index.html
  internal/server/template.go
  internal/server/template_test.go
  web/.env.production
  web/index.html
  web/src/components/AppStoreBadges.test.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/constants/constants.ts
  web/src/setupTests.ts
  web/src/utils/Configuration.test.ts
  web/src/utils/Configuration.ts
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
Due: backend, frontend

feat(handlers): offer second factor registration for elevation (#13156)
  docs/content/configuration/identity-validation/elevated-session.md
  internal/handlers/handler_configuration.go
  internal/handlers/handler_configuration_test.go
Due: backend

refactor: suggestions
  internal/handlers/handler_change_password.go
  internal/handlers/handler_change_password_test.go
Due: backend

refactor: suggestions
  docs/content/configuration/miscellaneous/webhooks.md
  internal/webhooks/dispatcher.go
Due: backend

feat(handlers): use anonymous oauth 2.0 authz post endpoint
  internal/handlers/handler_flow.go
  internal/handlers/handler_flow_test.go
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_oidc_userinfo_extra_test.go
  internal/handlers/handler_oauth2_par_flow_test.go
  internal/handlers/oauth2_test.go
  internal/handlers/types.go
  internal/server/handlers.go
  web/src/services/Api.ts
  web/src/services/Flow.test.ts
  web/src/services/Flow.ts
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

Update index.md
  docs/content/integration/openid-connect/clients/hashicorp-vault/index.md
Due: none

docs(oidc): Add PKCE and logout URL to Mastodon
  docs/content/integration/openid-connect/clients/mastodon/index.md
Due: none

ci(reviewdog): exclude pnpm probe files from typos
  .typos.toml
Due: none

ci(reviewdog): exclude pnpm probe files from typos (#13242)
  .typos.toml
Due: none

fix(web): use theme tokens for otp input styling
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

ci: normalise branch names into container tags
  .buildkite/hooks/post-command
  .buildkite/libs/common.sh
  .github/probot.js
  .renovaterc
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/docker_test.go
Due: none

ci: normalise branch names into container tags (#13249)
  .buildkite/hooks/post-command
  .buildkite/libs/common.sh
  .github/probot.js
  .renovaterc
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/docker_test.go
Due: none

ci(buildkite): group pipeline steps
  .buildkite/hooks/post-checkout
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/aurhelper.sh
  .buildkite/steps/aurpackages.sh
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/integration-suites.md
Due: none

build(deps): pin the pnpm installer by commit
  .renovaterc
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/duo-api/Dockerfile
Due: none

build(deps): pin the pnpm installer by commit (#13259)
  .renovaterc
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/duo-api/Dockerfile
Due: none

feat: show an access denied page for forbidden requests
  docs/content/integration/proxies/introduction.md
  docs/content/integration/proxies/nginx.md
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_blackbox_test.go
  internal/server/locales/en/portal.json
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/scenario_access_denied_test.go
  internal/suites/scenario_one_factor_test.go
  internal/suites/suite_caddy_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_haproxy_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik_test.go
  internal/suites/verify_is_deny.go
  web/src/App.tsx
  web/src/components/LockIcon.test.tsx
  web/src/components/LockIcon.tsx
  web/src/constants/Routes.ts
  web/src/constants/SearchParams.ts
  web/src/views/Error/ErrorView.test.tsx
  web/src/views/Error/ErrorView.tsx
Due: backend, frontend

refactor: code suggestions
  config.template.yml
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/integration/proxies/introduction.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_builder_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: backend

docs: fix missing spdx
  docs/content/policies/_index.md
Due: none

ci(buildkite): group pipeline steps (#13258)
  .buildkite/hooks/post-checkout
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/aurhelper.sh
  .buildkite/steps/aurpackages.sh
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/integration-suites.md
Due: none

docs: fix missing headers and additional providers
  docs/netlify.toml
  docs/static/provider/jose
  docs/static/provider/saml
Due: none

docs: fix description
  docs/content/contributing/development/integration-suites.md
Due: none

docs: fix missing headers and additional providers (#13266)
  docs/netlify.toml
  docs/static/provider/jose
  docs/static/provider/saml
Due: none

refactor: apply suggestions
  internal/authentication/file_user_provider_database_test.go
Due: backend

docs: regenerate contributors card
  docs/static/images/contributors/6735115.svg
Due: none

refactor: batched suggestions from code review
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_database_test.go
Due: backend

refactor: suggestions
  docs/content/reference/cli/authelia/authelia_debug_notification.md
  docs/content/reference/cli/authelia/authelia_storage_user_identifiers.md
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/koanf_provider_filtered_file_test.go
  internal/configuration/test_resources/config_values.numbers.large.json
  internal/configuration/test_resources/config_values.numbers.overflow.json
Due: backend

refactor: suggestions
  docs/content/configuration/methods/files.md
  internal/commands/util.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/koanf_provider_filtered_file_test.go
Due: backend

refactor: suggestions
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_database_test.go
  internal/commands/const.go
  internal/commands/storage_run.go
  internal/commands/util_test.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/koanf_provider_filtered_file_test.go
  internal/configuration/test_resources/config_values.schema.json
Due: backend
