Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor(web): lift the consent client identity above the request card
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormClient.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormRequest.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormRequest.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormScopes.tsx
Due: frontend

refactor: code suggestions
  docs/layouts/_shortcodes/csp.html
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/oidc/util_test.go
  internal/server/csp.go
Due: backend

feat(authentication): add registration custom url
  config.template.yml
  docs/content/configuration/first-factor/introduction.md
  docs/data/configkeys.json
  docs/static/schemas/v4.40/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json.license
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json.license
  docs/static/schemas/v4.40/json-schema/exports.totp.json
  docs/static/schemas/v4.40/json-schema/exports.totp.json.license
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json.license
  docs/static/schemas/v4.40/json-schema/user-database.json
  docs/static/schemas/v4.40/json-schema/user-database.json.license
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/server/locales/en/portal.json
  internal/server/public_html/index.html
  internal/server/template.go
  web/.env.production
  web/index.html
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/setupTests.ts
  web/src/utils/Configuration.test.ts
  web/src/utils/Configuration.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

docs: note the custom url scheme requirement
  docs/content/configuration/first-factor/introduction.md
Due: none

refactor(web): split the registration url configuration test
  web/src/utils/Configuration.test.ts
Due: frontend

feat(handlers): notify users when a password reset fails
  docs/content/configuration/notifications/events.md
  internal/handlers/const.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_reset_password_test.go
  internal/handlers/util.go
  internal/handlers/util_test.go
Due: backend

feat(totp): make the suggested authenticator app configurable
  config.template.yml
  docs/content/configuration/second-factor/time-based-one-time-password.md
  docs/data/configkeys.json
  docs/static/schemas/v4.40/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json.license
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json.license
  docs/static/schemas/v4.40/json-schema/exports.totp.json
  docs/static/schemas/v4.40/json-schema/exports.totp.json.license
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json.license
  docs/static/schemas/v4.40/json-schema/user-database.json
  docs/static/schemas/v4.40/json-schema/user-database.json.license
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/totp.go
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
  internal/server/locales/en/settings.json
  internal/server/public_html/index.html
  internal/server/template.go
  internal/server/template_test.go
  web/.env.production
  web/index.html
  web/src/components/AppStoreBadges.test.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/constants/constants.ts
  web/src/setupTests.ts
  web/src/utils/Configuration.test.ts
  web/src/utils/Configuration.ts
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
Due: backend, frontend

refactor: code suggestions
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
Due: backend

feat(webauthn): related origins
  api/openapi.yml
  docs/content/configuration/second-factor/webauthn.md
  docs/static/schemas/latest/json-schema/configuration.json
  experimental/embed/context_test.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/webauthn.go
  internal/configuration/schema/webauthn_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/webauthn.go
  internal/configuration/validator/webauthn_test.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_sign_webauthn_test.go
  internal/handlers/handler_webauthn_credentials.go
  internal/handlers/handler_webauthn_credentials_test.go
  internal/handlers/handler_webauthn_wellknown.go
  internal/handlers/handler_webauthn_wellknown_test.go
  internal/handlers/webauthn_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_blackbox_test.go
  internal/middlewares/startup.go
  internal/middlewares/types.go
  internal/middlewares/util.go
  internal/server/handlers.go
  internal/webauthn/const.go
  internal/webauthn/context.go
  internal/webauthn/credential_test.go
  internal/webauthn/provider.go
  internal/webauthn/provider_test.go
  internal/webauthn/util.go
  internal/webauthn/util_test.go
Due: backend

refactor: suggestions
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/introduction.md
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  internal/identity/const.go
  internal/identity/discovery.go
  internal/identity/discovery_test.go
  internal/identity/par_test.go
  internal/identity/provider_openid_connect_test.go
  internal/identity/userinfo.go
  internal/identity/userinfo_test.go
  internal/server/locales/en/settings.json
  internal/storage/sql_provider_queries.go
  internal/suites/action_page.go
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityLinkNotice.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/Settings/ExternalIdentity/ExternalIdentityLinkDeleteDialog.tsx
  web/src/views/Settings/ExternalIdentity/ExternalIdentityView.tsx
Due: backend, frontend

feat(middlewares): ipv6 rate limit mask
  docs/content/configuration/miscellaneous/server-endpoint-rate-limits.md
  docs/data/configkeys.json
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/middlewares/rate_limiting.go
  internal/middlewares/rate_limiting_test.go
Due: backend

refactor: code suggestions
  internal/server/csp.go
  internal/server/csp_test.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
  internal/suites/scenario_oidc_test.go
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormRequest.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormRequest.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DeviceAuthorizationFormView.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DeviceAuthorizationFormView.tsx
Due: backend, frontend

fix(oidc): pre-configured consent saved twice
  internal/handlers/handler_oauth2_authorization_consent_preconfigured.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured_test.go
Due: backend

feat(server): add a verbose health check endpoint
  config.template.yml
  docs/content/configuration/miscellaneous/server.md
  docs/data/configkeys.json
  docs/static/schemas/v4.40/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json.license
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_health_verbose.go
  internal/handlers/handler_health_verbose_test.go
  internal/middlewares/const.go
  internal/middlewares/health.go
  internal/middlewares/health_test.go
  internal/server/handlers.go
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: backend

refactor: code suggestions
  docs/content/configuration/miscellaneous/server.md
  internal/configuration/schema/server.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_health_verbose.go
  internal/handlers/handler_health_verbose_test.go
  internal/middlewares/health.go
  internal/middlewares/health_test.go
  internal/ntp/ntp.go
Due: backend

feat(storage): index the oauth2 cascade and add a clean command
  docs/content/reference/cli/authelia/authelia_storage.md
  docs/content/reference/cli/authelia/authelia_storage_clean.md
  docs/content/reference/cli/authelia/authelia_storage_clean_oauth2.md
  docs/static/schemas/v4.40/json-schema/configuration.json
  docs/static/schemas/v4.40/json-schema/configuration.json.license
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json
  docs/static/schemas/v4.40/json-schema/exports.identifiers.json.license
  docs/static/schemas/v4.40/json-schema/exports.totp.json
  docs/static/schemas/v4.40/json-schema/exports.totp.json.license
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json
  docs/static/schemas/v4.40/json-schema/exports.webauthn.json.license
  docs/static/schemas/v4.40/json-schema/user-database.json
  docs/static/schemas/v4.40/json-schema/user-database.json.license
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_clean_test.go
  internal/commands/storage_run.go
  internal/mocks/storage.go
  internal/storage/const.go
  internal/storage/migrations/mysql/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/mysql/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations/postgres/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/postgres/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations/sqlite/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/sqlite/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_clean_test.go
Due: backend

fix(handlers): use correct status code for consent redirects
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured_test.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_par_flow_test.go
  internal/oidc/errors.go
  internal/oidc/errors_test.go
Due: backend

refactor: code suggestions
  api/openapi.yml
  docs/content/configuration/second-factor/recovery-codes.md
  internal/commands/storage_run_recovery_codes.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_configuration_test.go
  internal/handlers/handler_register_recovery_codes.go
  internal/handlers/handler_register_recovery_codes_test.go
  internal/handlers/handler_sign_recovery_code_test.go
  internal/handlers/types.go
  internal/mocks/storage.go
  internal/model/recovery_code.go
  internal/model/recovery_code_test.go
  internal/storage/errors.go
  internal/storage/provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_recovery_codes.go
  internal/storage/sql_provider_recovery_codes_test.go
  internal/suites/scenario_two_factor_recovery_code_test.go
  web/src/models/Configuration.ts
  web/src/services/Configuration.test.ts
  web/src/services/Configuration.ts
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/SecondFactor/RecoveryCodeMethod.tsx
  web/src/views/Settings/TwoFactorAuthentication/RecoveryCodesGenerateDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/RecoveryCodesPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

feat(handlers): offer second factor registration for elevation
  docs/content/configuration/identity-validation/elevated-session.md
  internal/handlers/handler_configuration.go
  internal/handlers/handler_configuration_test.go
Due: backend

feat: show an access denied page for forbidden requests
  docs/content/integration/proxies/introduction.md
  docs/content/integration/proxies/nginx.md
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_blackbox_test.go
  internal/server/locales/en/portal.json
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/scenario_access_denied_test.go
  internal/suites/scenario_one_factor_test.go
  internal/suites/suite_caddy_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_haproxy_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik_test.go
  internal/suites/verify_is_deny.go
  web/src/App.tsx
  web/src/components/LockIcon.test.tsx
  web/src/components/LockIcon.tsx
  web/src/constants/Routes.ts
  web/src/constants/SearchParams.ts
  web/src/views/Error/ErrorView.test.tsx
  web/src/views/Error/ErrorView.tsx
Due: backend, frontend

refactor: code suggestions
  docs/content/blog/release-notes-4.39/index.md
  docs/content/configuration/first-factor/introduction.md
  docs/content/configuration/first-factor/ldap.md
  docs/content/integration/ldap/activedirectory.md
  internal/handlers/handler_change_password.go
  internal/handlers/handler_change_password_test.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_password_test.go
  internal/handlers/handler_password_change_required.go
  internal/handlers/handler_password_change_required_test.go
  web/src/views/LoginPortal/PasswordChangeRequired/PasswordChangeRequiredForm.test.tsx
  web/src/views/LoginPortal/PasswordChangeRequired/PasswordChangeRequiredForm.tsx
Due: backend, frontend

refactor: apply suggestions
  internal/authentication/file_user_provider_database_test.go
Due: backend

fix(handlers): use correct status code for consent redirects (#13155)
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured_test.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_par_flow_test.go
  internal/oidc/errors.go
  internal/oidc/errors_test.go
Due: backend

fix(oidc): pre-configured consent saved twice (#13154)
  internal/handlers/handler_oauth2_authorization_consent_preconfigured.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured_test.go
Due: backend

refactor: suggestions
  internal/handlers/handler_change_password.go
  internal/handlers/handler_change_password_test.go
Due: backend

refactor: suggestions
  docs/content/configuration/miscellaneous/webhooks.md
  internal/webhooks/dispatcher.go
Due: backend

refactor: suggestions
  docs/content/integration/external-identity/github.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/ExternalIdentityForm.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: backend, frontend

refactor: suggestions
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
Due: backend

refactor: suggestions
  internal/handlers/response_flow_test.go
Due: backend

refactor: suggestions
  internal/configuration/schema/identity_providers.go
  internal/oidc/garbage_collector.go
  internal/oidc/garbage_collector_test.go
  internal/storage/migrations/mysql/V0030.OAuth2DPoP.up.sql
  internal/storage/migrations/postgres/V0030.OAuth2DPoP.up.sql
  internal/storage/migrations/sqlite/V0030.OAuth2DPoP.up.sql
Due: backend

refactor: suggestions
  docs/content/configuration/identity-providers/openid-connect/clients.md
  internal/handlers/handler_oauth2_token_exchange_test.go
  internal/oidc/session.go
Due: backend

refactor: suggestions
  internal/handlers/handler_oauth2_token_exchange_test.go
Due: backend
