Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(oidc): handle concurrent creation of the user opaque identifier
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/errors_test.go
Due: backend

test(suites): stabilise the oidc conformance suite
  internal/suites/conformance_api.go
  internal/suites/conformance_api_test.go
  internal/suites/conformance_runner.go
  internal/suites/conformance_runner_errors_test.go
  internal/suites/environment.go
  internal/suites/suite_oidc_conformance.go
Due: none

fix(oidc): handle concurrent creation of the user opaque identifier (#13296)
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/errors_test.go
Due: backend

test(suites): stabilise the oidc conformance suite (#13297)
  internal/suites/conformance_api.go
  internal/suites/conformance_api_test.go
  internal/suites/conformance_runner.go
  internal/suites/conformance_runner_errors_test.go
  internal/suites/environment.go
  internal/suites/suite_oidc_conformance.go
Due: none

build(deps): update doks to v2
  .renovaterc
  docs/config/babel.config.js
  docs/layouts/_partials/head/custom-head.html
  docs/layouts/_partials/head/dartsass.html
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  docs/tool/build
Due: none

fix(authentication): issue password modify over user-bound connection
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

test(authentication): distinct clients for the fallback connection
  internal/authentication/ldap_user_provider_test.go
Due: backend

build(deps): update dependency brace-expansion to v5.0.11 [security]
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
Due: backend

ci(autheliabot): match first time contributors by webhook association
  .github/probot.js
Due: none

ci(buildkite): publish the oidc conformance server image
  .buildkite/hooks/pre-command
  .buildkite/integration.sh
  .buildkite/pipeline.sh
  internal/suites/OIDCConformance/compose.yml
  internal/suites/example/compose/oidc-conformance/Dockerfile
Due: none

build(deps): update dependency brace-expansion to v5.0.12 [security]
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

ci(buildkite): publish the oidc conformance server image (#13313)
  .buildkite/hooks/pre-command
  .buildkite/integration.sh
  .buildkite/pipeline.sh
  internal/suites/OIDCConformance/compose.yml
  internal/suites/example/compose/oidc-conformance/Dockerfile
Due: none

build(deps): update doks to v2 (#13303)
  .renovaterc
  docs/config/babel.config.js
  docs/layouts/_partials/head/custom-head.html
  docs/layouts/_partials/head/dartsass.html
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  docs/tool/build
Due: none

fix(tmpfiles): permit directory access under /etc/authelia/*
  authelia.tmpfiles.conf
Due: none

ci(autheliabot): match first time contributors by webhook association (#13310)
  .github/probot.js
Due: none

ci(autheliabot): replace probot pr commentary with workflow
  .github/probot.js
  .github/workflows/pr-commentary.yml
Due: none

ci(autheliabot): replace probot pr commentary with workflow (#13320)
  .github/probot.js
  .github/workflows/pr-commentary.yml
Due: none

test(suites): health check the caddy frontend upstreams
  internal/suites/example/compose/caddy/Caddyfile
Due: none

test(suites): run the dist backend as the invoking user
  internal/suites/example/compose/authelia/compose.backend.dist.yml
Due: none

test(suites): wait for the reset password stage before typing
  internal/suites/action_reset_password.go
Due: none

test(suites): stabilise the caddy reset password scenario (#13325)
  internal/suites/action_reset_password.go
  internal/suites/example/compose/authelia/compose.backend.dist.yml
  internal/suites/example/compose/caddy/Caddyfile
Due: none

fix(web): recover the identity verification dialog when verifying fails
  web/src/views/Settings/Common/IdentityVerificationDialog.test.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): record the requests chrome fails
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  internal/suites/action_visit.go
  internal/suites/network.go
  internal/suites/network_test.go
  internal/suites/utils.go
Due: none

fix(web): ignore verification results after the dialog closes
  web/src/views/Settings/Common/IdentityVerificationDialog.test.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

fix(web): recover the identity verification dialog when verifying fails (#13327)
  web/src/views/Settings/Common/IdentityVerificationDialog.test.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): wait for the recorded failure before asserting
  internal/suites/network_test.go
Due: none

test(suites): record the requests chrome fails (#13328)
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  internal/suites/action_visit.go
  internal/suites/network.go
  internal/suites/network_test.go
  internal/suites/utils.go
Due: none

test(suites): stop chrome querying the network time
  internal/suites/webdriver.go
Due: none

test(suites): stop chrome querying the network time (#13334)
  internal/suites/webdriver.go
Due: none

ci(suites): log in to the oidc conformance server with authelia
  .buildkite/pipeline.sh
  internal/suites/OIDCConformance/compose.yml
  internal/suites/conformance_compose_test.go
  internal/suites/example/compose/oidc-conformance/Dockerfile
  internal/suites/example/compose/oidc-conformance/authelia-login.patch
Due: none

test(suites): name the branch or release in conformance plan names
  internal/suites/conformance_names_test.go
  internal/suites/suite_oidc_conformance.go
Due: none

ci(buildkite): wait for rebuilt integration images before their suites
  .buildkite/pipeline.sh
  .buildkite/steps/e2etests.sh
Due: none

ci(renovate): track the oidc conformance suite release
  .renovaterc
Due: none

feat(web): changed loading animation
  web/src/index.css
  web/src/views/LoadingPage/AnimatedLogo.test.tsx
  web/src/views/LoadingPage/AnimatedLogo.tsx
  web/src/views/LoadingPage/BaseLoadingPage.test.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
Due: frontend

i18n: fix one-time password and code translations (Italian)
  internal/server/locales/it-IT/portal.json
  internal/server/locales/it-IT/settings.json
Due: backend

refactor: adjust systemd hardening
  .goreleaser.yml
  authelia.service
  authelia.sysusers.conf
  authelia.tmpfiles.conf
  authelia.tmpfiles.config.conf
  authelia@.service
  docs/content/reference/guides/systemd.md
Due: none

feat(web): passkey conditional mediation
  api/openapi.yml
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/server/handlers.go
  internal/server/locales/en/portal.json
  internal/suites/action_login.go
  internal/suites/scenario_passkey_test.go
  web/src/components/RememberMeDialog.test.tsx
  web/src/components/RememberMeDialog.tsx
  web/src/hooks/RememberMe.test.ts
  web/src/hooks/RememberMe.ts
  web/src/services/Api.ts
  web/src/services/WebAuthn.test.ts
  web/src/services/WebAuthn.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
Due: backend, frontend

feat(server): allowed hosts
  config.template.yml
  docs/content/configuration/miscellaneous/server.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/middlewares/allowed_hosts.go
  internal/middlewares/allowed_hosts_test.go
  internal/server/handlers.go
Due: backend

refactor: case sensitive
  internal/middlewares/allowed_hosts.go
  internal/middlewares/allowed_hosts_test.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/mocks/, internal/suites/, internal/**/*_mock_test.go, **/coverage.txt
  frontend: any of: web/, but not: web/coverage/, web/src/serviceWorker.ts, **/coverage.txt
