Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build: update lockfile
  docs/pnpm-lock.yaml
Due: none

build(deps): update 3 dependencies [security]
  internal/templates/src/package.json
  web/package.json
Due: backend, frontend

build(deps): update 4 dependencies [security]
  docs/package.json
  internal/templates/src/package.json
  web/package.json
Due: backend, frontend

build(deps): update 4 dependencies [security]
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(cmd): enable auto go toolchain in crossbuild container
  cmd/authelia-scripts/cmd/build.go
Due: none

ci: add ignores
  .grype.yaml
Due: none

ci(buildkite): grype scope lefthook stdlib ignore by source path
  .buildkite/hooks/pre-command
  .buildkite/steps/grypescans.sh
  .grype.yaml
Due: none

feat(cmd): authelia pam module
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-pam/client.go
  cmd/authelia-pam/client_test.go
  cmd/authelia-pam/config.go
  cmd/authelia-pam/config_test.go
  cmd/authelia-pam/device.go
  cmd/authelia-pam/main.go
  cmd/authelia-pam/protocol.go
  cmd/authelia-pam/protocol_test.go
  cmd/authelia-pam/qr.go
  cmd/authelia-scripts/cmd/bootstrap.go
  docs/content/contributing/guidelines/commit-message.md
  extras/pam/Makefile
  extras/pam/src/pam_authelia.c
  extras/pam/src/pam_authelia.h
  internal/suites/PAM/compose.yml
  internal/suites/PAM/configuration.yml
  internal/suites/PAM/users.yml
  internal/suites/environment.go
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/pam/Dockerfile
  internal/suites/example/compose/pam/Dockerfile.dockerignore
  internal/suites/example/compose/pam/compose.yml
  internal/suites/example/compose/pam/entrypoint.sh
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
  web/commitlint.config.mjs
Due: frontend

fix(suites): pam suite permissions
  internal/suites/PAM/compose.yml
Due: none

fix(suites): replace expect/ssh with go ssh client
  internal/suites/suite_pam_test.go
Due: none

refactor(cmd): move authelia-pam to separate repo
  .gitignore
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-pam/client.go
  cmd/authelia-pam/client_test.go
  cmd/authelia-pam/config.go
  cmd/authelia-pam/config_test.go
  cmd/authelia-pam/device.go
  cmd/authelia-pam/main.go
  cmd/authelia-pam/protocol.go
  cmd/authelia-pam/protocol_test.go
  cmd/authelia-pam/qr.go
  docs/content/contributing/guidelines/commit-message.md
  extras/pam/Makefile
  extras/pam/src/pam_authelia.c
  extras/pam/src/pam_authelia.h
  web/commitlint.config.mjs
Due: frontend

refactor(suites): use pam_authelia repo directly
  internal/suites/example/compose/pam/Dockerfile
  internal/suites/example/compose/pam/Dockerfile.dockerignore
  internal/suites/example/compose/pam/compose.yml
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
Due: none

refactor(suites): adjust vars and syntax
  internal/suites/example/compose/pam/Dockerfile
  internal/suites/example/compose/pam/entrypoint.sh
Due: none

refactor(suites): heredoc and device authorization flow
  internal/suites/example/compose/pam/entrypoint.sh
  internal/suites/suite_pam_test.go
Due: none

docs: pam_authelia integration guide
  docs/content/integration/guides/pam-authelia/index.md
Due: none

refactor(suites): device authorization flow with browser completion
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/oidc/const.go
  internal/suites/PAM/configuration.yml
  internal/suites/PAM/users.yml
  internal/suites/environment.go
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/authelia/compose.backend.dev.yml
  internal/suites/example/compose/authelia/resources/entrypoint-frontend.sh
  internal/suites/example/compose/pam/entrypoint.sh
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
Due: backend

refactor(suites): standardize patterns for pam suite
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
Due: none

refactor(suites): standardize patterns for pam suite
  internal/suites/suite_pam_test.go
Due: none

refactor(web): add authelia.pam oidc scope
  internal/server/locales/en/consent.json
  web/src/components/OpenIDConnect.test.tsx
  web/src/components/OpenIDConnect.tsx
  web/src/constants/OpenIDConnect.ts
Due: backend, frontend

docs: authelia.pam notes in special scopes
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

docs: emdashes begone
  docs/content/integration/guides/pam-authelia/index.md
Due: none

refactor(suites): update pam repo to master branch
  internal/suites/example/compose/pam/Dockerfile
Due: none

ci(buildkite): update coverage generation for backend only suites
  .buildkite/hooks/post-command
Due: none

docs: fix pam repo link
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

ci(buildkite): switch hub to gh, credit authors, auto-label prs
  .buildkite/steps/ghartifacts.sh
  .github/workflows/pr-labels.yml
Due: none

i18n: update translation for consent.json (romanian)
  internal/server/locales/ro-RO/consent.json
Due: backend

i18n: update translation for consent.json (french)
  internal/server/locales/fr-FR/consent.json
Due: backend

i18n: update translation for consent.json (spanish)
  internal/server/locales/es-ES/consent.json
Due: backend

i18n: update translation for consent.json (arabic)
  internal/server/locales/ar-SA/consent.json
Due: backend

i18n: update translation for consent.json (czech)
  internal/server/locales/cs-CZ/consent.json
Due: backend

i18n: update translation for consent.json (danish)
  internal/server/locales/da-DK/consent.json
Due: backend

i18n: update translation for consent.json (german)
  internal/server/locales/de-DE/consent.json
Due: backend

i18n: update translation for consent.json (greek)
  internal/server/locales/el-GR/consent.json
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/mocks/, internal/suites/, internal/**/*_mock_test.go, **/coverage.txt
  frontend: any of: web/, but not: web/coverage/, web/src/serviceWorker.ts, **/coverage.txt
