Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor(handlers): use interface for authz
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/server/handlers.go
Due: backend

refactor: encapsulated session manager
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_types.go
  internal/middlewares/authelia_context.go
  internal/session/session.go
Due: backend

refactor(handlers): use interface for authz
  internal/handlers/handler_authz.go
Due: backend

refactor: import order
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_types.go
Due: backend

docs: add godocs
  internal/handlers/handler_authz.go
  internal/middlewares/authelia_context.go
  internal/session/session.go
Due: backend

fix(handlers): lookup ip bans when get details fails
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_password_test.go
  internal/handlers/response.go
  internal/regulation/regulator.go
  internal/regulation/regulator_blackbox_test.go
  internal/regulation/types.go
Due: backend

docs: policies rework
  .github/security-insights.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/assets/js/custom.js
  docs/config/_default/menus/menus.en.toml
  docs/content/contributing/development/introduction.md
  docs/content/contributing/guidelines/introduction.md
  docs/content/contributing/guidelines/pull-request.md
  docs/content/contributing/guidelines/testing.md
  docs/content/information/about.md
  docs/content/policies/artificial-intelligence.md
  docs/content/policies/code-of-conduct.md
  docs/content/policies/governance.md
  docs/content/policies/security.md
  docs/data/profiles.json
  docs/layouts/_partials/footer/footer.html
Due: none

fix(authentication): incorrect bind mode
  internal/authentication/ldap_client_factory.go
  internal/authentication/ldap_client_factory_config.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_lifecycle.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix(storage): harden one-time code consumption
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/mocks/storage.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_test.go
Due: backend

test(storage): add tests
  internal/mocks/gen.go
  internal/mocks/sql_result.go
  internal/mocks/storage_sqlxconnection.go
  internal/mocks/storage_sqlxdb.go
  internal/mocks/storage_sqlxtx.go
  internal/storage/const.go
  internal/storage/export_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres_test.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_schema.go
  internal/storage/types.go
Due: backend

refactor: apply suggestions
  internal/handlers/handler_authz_util.go
  internal/middlewares/authelia_context.go
Due: backend

refactor: include in pooled client
  internal/authentication/ldap_client_factory.go
Due: backend

refactor(handlers): use interface for authz (#11270)
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/server/handlers.go
  internal/session/session.go
Due: backend

fix(authentication): incorrect bind mode (#12094)
  internal/authentication/ldap_client_factory.go
  internal/authentication/ldap_client_factory_config.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_lifecycle.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix(storage): harden one-time code consumption (#12095)
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/mocks/gen.go
  internal/mocks/sql_result.go
  internal/mocks/storage.go
  internal/mocks/storage_sqlxconnection.go
  internal/mocks/storage_sqlxdb.go
  internal/mocks/storage_sqlxtx.go
  internal/storage/const.go
  internal/storage/export_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres_test.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_test.go
  internal/storage/types.go
Due: backend

test(storage): add suggested tests
  internal/storage/sql_provider_backend_postgres_test.go
Due: backend

docs: fix build
  .typos.toml
  docs/.gitignore
  docs/hugo_stats.json
  docs/pnpm-workspace.yaml
Due: none

build(deps): update transient dependency ws to 8.20.1
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

build(deps): update transient dependency ws to 8.20.1 (#12106)
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

build: fix lockfile
  web/pnpm-lock.yaml
Due: frontend

build: fix lockfile (#12111)
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency ws to v8.20.1 [security]
  internal/templates/src/pnpm-workspace.yaml
Due: backend

fix(templates): pnpm lock
  internal/templates/src/pnpm-lock.yaml
Due: backend

Update Roundcube redirect URI for OAuth callback
  docs/content/integration/openid-connect/clients/roundcube/index.md
Due: none

docs: addendum
  SECURITY.md
  docs/content/policies/artificial-intelligence.md
  docs/content/policies/security.md
  docs/hugo_stats.json
Due: none

test: avoid the testing fatal and fatalf
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/handler_sign_webauthn_test.go
  internal/suites/pngdiff.go
Due: backend

fix(storage): incorrect query used for auth code by req id
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_test.go
Due: backend

fix(authorization): oauth2 client credentials considered anonymous
  internal/authorization/authorizer_test.go
  internal/authorization/types.go
Due: backend

build(lefthook): force lf for *.sh and .shellcheckrc on windows
  .gitattributes
Due: none

build(lefthook): extract check-tools to new file
  .lefthook.yml
  scripts/check-tools.sh
Due: none

build(lefthook): move check-tools.sh to root and apply shellcheck
  .lefthook.yml
  .trufflehog
  check-tools.sh
Due: none

test: update image
  internal/suites/testdata/docs_homepage_snapshot.png
Due: none

ci(build): use lf line endings for windows compatability (#12142)
  .gitattributes
  .lefthook.yml
  .trufflehog
  check-tools.sh
Due: none

fix(authorization): oauth2 client credentials considered anonymous (#12141)
  internal/authorization/authorizer_test.go
  internal/authorization/types.go
Due: backend

fix(storage): incorrect query used for auth code by req id (#12139)
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_test.go
Due: backend

docs: policies rework (#11661)
  .github/security-insights.yml
  .typos.toml
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/.gitignore
  docs/assets/js/custom.js
  docs/config/_default/menus/menus.en.toml
  docs/content/contributing/development/introduction.md
  docs/content/contributing/guidelines/introduction.md
  docs/content/contributing/guidelines/pull-request.md
  docs/content/contributing/guidelines/testing.md
  docs/content/information/about.md
  docs/content/policies/artificial-intelligence.md
  docs/content/policies/code-of-conduct.md
  docs/content/policies/governance.md
  docs/content/policies/security.md
  docs/data/profiles.json
  docs/hugo_stats.json
  docs/layouts/_partials/footer/footer.html
  docs/pnpm-workspace.yaml
  internal/suites/testdata/docs_homepage_snapshot.png
Due: none

fix(configuration): include specific warning about ports
  docs/assets/js/custom.js
  docs/content/configuration/session/introduction.md
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

test: avoid the testing fatal and fatalf (#12138)
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/handler_sign_webauthn_test.go
  internal/suites/pngdiff.go
Due: backend

docs: update nginx docs
  docs/content/integration/openid-connect/frequently-asked-questions.md
  docs/content/integration/proxies/nginx.md
  docs/hugo_stats.json
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: none

refactor: apply suggestions
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend
