Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

test(suites): wait for the proxy to route the portal before testing
  internal/suites/environment.go
  internal/suites/example/compose/traefik/compose.yml
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik3.go
Due: none

refactor: apply suggestions from code review
  internal/middlewares/rate_limiting.go
  internal/server/handlers.go
  internal/service/garbage_collector.go
Due: backend

build(deps): update module github.com/cilium/ebpf to v0.22.0
  internal/suites/example/compose/authelia/resources/go.mod
  internal/suites/example/compose/authelia/resources/go.sum
Due: none

refactor: apply suggestions from code review
  internal/service/file_watcher.go
  internal/service/util.go
Due: backend

test(suites): wait for the proxy to route the portal before testing (#12821)
  internal/suites/environment.go
  internal/suites/example/compose/traefik/compose.yml
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik3.go
Due: none

build(deps): update module github.com/cilium/ebpf to v0.22.0 (#12822)
  internal/suites/example/compose/authelia/resources/go.mod
  internal/suites/example/compose/authelia/resources/go.sum
Due: none

test(suites): gate the backend on the smtp listener
  internal/suites/example/compose/smtp/compose.yml
Due: none

test(suites): gate the backend on the smtp listener (#12823)
  internal/suites/example/compose/smtp/compose.yml
Due: none

fix(storage): webauthn issuer aad derivation (#12754)
  docs/content/configuration/storage/migrations.md
  docs/content/overview/security/measures.md
  internal/commands/storage_run_test.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/const.go
  internal/storage/encryption_aad.go
  internal/storage/encryption_aad_test.go
  internal/storage/export_test.go
  internal/storage/migrations/mysql/V0026.StorageAADRowScoped.down.sql
  internal/storage/migrations/mysql/V0026.StorageAADRowScoped.up.sql
  internal/storage/migrations/postgres/V0026.StorageAADRowScoped.down.sql
  internal/storage/migrations/postgres/V0026.StorageAADRowScoped.up.sql
  internal/storage/migrations/sqlite/V0026.StorageAADRowScoped.down.sql
  internal/storage/migrations/sqlite/V0026.StorageAADRowScoped.up.sql
  internal/storage/migrations_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_backend_postgres_test.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_encryption_test.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_special.go
  internal/storage/sql_provider_schema_test.go
  internal/storage/sql_provider_test.go
  internal/storage/types.go
  internal/storage/types_test.go
Due: backend

ci(lefthook): exclude nested worktrees from tree wide scanners (#12813)
  .gitignore
  .trufflehog
  .typos.toml
  .yamllint.yml
Due: none

fix(service): stale errors and shutdown blocks (#12762)
  internal/service/file_watcher.go
  internal/service/file_watcher_test.go
  internal/service/server_test.go
  internal/service/signal.go
  internal/service/signal_test.go
  internal/service/util.go
  internal/service/util_test.go
Due: backend

fix(authentication): stale user database aliases (#12755)
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_database_test.go
  internal/authentication/file_user_provider_test.go
Due: backend

refactor(middlewares): rate limit improvements (#12786)
  internal/handlers/handler_oauth2_introspection.go
  internal/middlewares/const.go
  internal/middlewares/garbage_collector.go
  internal/middlewares/garbage_collector_test.go
  internal/middlewares/rate_limiting.go
  internal/middlewares/rate_limiting_test.go
  internal/middlewares/types.go
  internal/middlewares/util.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/template_test.go
  internal/service/const.go
  internal/service/garbage_collector.go
  internal/service/garbage_collector_test.go
  internal/service/provider.go
  internal/service/provider_test.go
  internal/service/server.go
Due: backend

fix(authentication): pooled client skip (#12554)
  internal/authentication/const.go
  internal/authentication/ldap_client.go
  internal/authentication/ldap_client_factory.go
  internal/authentication/ldap_client_factory_test.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

refactor: misc
  internal/random/util.go
Due: backend

fix(random): nominal entropy reduction (#12765)
  internal/random/cryptographical.go
  internal/random/mathematical.go
  internal/random/util.go
  internal/random/util_test.go
Due: backend

test: add test
  internal/cache/redis.go
  internal/middlewares/authelia_context_session_cache_test.go
Due: backend

fix: username
  internal/cache/const.go
  internal/cache/memory.go
  internal/cache/memory_test.go
  internal/cache/provider.go
  internal/cache/redis.go
  internal/cache/redis_test.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_password_test.go
  internal/mocks/storage.go
  internal/session/strategy.go
  internal/session/strategy_test.go
  internal/session/types.go
  internal/session/types_msgp.go
  internal/session/user_session.go
  internal/session/user_session_guard_test.go
  internal/session/user_session_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_session.go
  internal/storage/sql_provider_session_test.go
Due: backend

fix: invalidation of cache
  internal/authentication/cached_user_provider.go
  internal/authentication/cached_user_provider_test.go
  internal/cache/provider.go
  internal/session/strategy.go
  internal/session/user_session_guard_test.go
Due: backend

feat: cache
  internal/handlers/handler_authz_activity_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/types.go
  internal/session/strategy.go
  internal/session/strategy_cache_test.go
  internal/session/types.go
Due: backend

refactor: inactivity
  internal/handlers/const.go
  internal/handlers/handler_authz_authn.go
Due: backend

docs: add docs
  docs/content/configuration/cache/_index.md
  docs/content/configuration/cache/introduction.md
  docs/content/configuration/cache/redis-cluster.md
  docs/content/configuration/cache/redis-sentinel.md
  docs/content/configuration/cache/redis.md
  docs/content/configuration/methods/secrets.md
  docs/content/configuration/session/introduction.md
  docs/content/configuration/session/redis.md
  docs/content/integration/prologue/get-started.md
  docs/content/overview/security/measures.md
  docs/hugo_stats.json
Due: none

refactor: regenerate session eagerly on reset
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/middlewares/identity_verification.go
Due: backend

refactor: use session signature in aad
  internal/cache/memory.go
  internal/cache/memory_test.go
  internal/cache/provider.go
  internal/cache/redis.go
  internal/cache/redis_test.go
  internal/mocks/storage.go
  internal/session/codec.go
  internal/session/const_test.go
  internal/session/strategy.go
  internal/session/strategy_cache_test.go
  internal/session/strategy_test.go
  internal/session/types.go
  internal/storage/provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_backend_postgres_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_session.go
  internal/storage/sql_provider_session_test.go
Due: backend

refactor: suggestions
  internal/cache/memory.go
  internal/cache/memory_test.go
  internal/cache/redis.go
  internal/cache/redis_test.go
  internal/configuration/deprecation_session_redis.go
  internal/configuration/deprecation_session_redis_test.go
  internal/configuration/schema/cache.go
  internal/service/collector.go
  internal/service/collector_test.go
  internal/session/strategy.go
  internal/session/user_session_copy.go
  internal/session/user_session_copy_test.go
  internal/storage/sql_provider_backend_sqlite.go
  internal/storage/sql_provider_backend_sqlite_test.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: suggestions
  internal/handlers/handler_authz_util.go
Due: backend

fix: fallback key
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

docs: add godocs for new exported symbols
  internal/authentication/cached_user_provider.go
  internal/authentication/types.go
  internal/authentication/util.go
  internal/cache/const.go
  internal/cache/memory.go
  internal/cache/provider.go
  internal/cache/redis.go
  internal/configuration/schema/cache.go
  internal/configuration/schema/types_address.go
  internal/middlewares/authelia_context.go
  internal/middlewares/startup.go
  internal/service/collector.go
  internal/session/codec.go
  internal/session/provider.go
  internal/session/strategy.go
  internal/session/types.go
  internal/session/types_msgp.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_session.go
Due: backend

ci(reviewdog): fall back to local reporter on large diffs
  .buildkite/steps/lint.sh
Due: none

docs(oidc): add group mapping documentation for wg-portal
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

docs(oidc): add documentation for integration with 2FAuth
  docs/content/integration/openid-connect/clients/2fauth/index.md
Due: none

docs(oidc): add remark on SSL verification in 2fauth integration doc
  docs/content/integration/openid-connect/clients/2fauth/index.md
Due: none

ci(renovate): add pnpm dedupe post update option
  .renovaterc
Due: none

build(npm): prune inert pnpm overrides and build permissions
  docs/netlify.toml
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  internal/suites/example/compose/duo-api/pnpm-lock.yaml
  internal/suites/example/compose/duo-api/pnpm-workspace.yaml
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: backend, frontend

ci(renovate): add pnpm dedupe post update option (#12845)
  .renovaterc
Due: none

build(npm): prune inert pnpm overrides and build permissions (#12844)
  docs/netlify.toml
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  internal/suites/example/compose/duo-api/pnpm-lock.yaml
  internal/suites/example/compose/duo-api/pnpm-workspace.yaml
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: backend, frontend
