Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix(web): place the form control ids on the clickable element
  web/src/components/UI/Checkbox.tsx
  web/src/components/UI/RadioGroup.tsx
  web/src/components/UI/Switch.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormClaims.test.tsx
Due: frontend

refactor: code suggestions
  web/src/components/UI/Toast.test.tsx
  web/src/components/UI/Toast.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.test.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

fix(web): translate the sign out tooltip and the password method text
  internal/server/locales/en/portal.json
  web/src/components/SignOutButton.test.tsx
  web/src/components/SignOutButton.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordMethod.tsx
Due: backend, frontend

fix(suites): flaky tests
  internal/suites/action_mui.go
  internal/suites/action_settings.go
  internal/suites/action_tooltip.go
  internal/suites/action_totp.go
  internal/suites/action_webauthn.go
  internal/suites/verify_notification.go
Due: none

fix(suites): retry element interactions that fail on transient states
  internal/suites/action_2fa_methods.go
  internal/suites/action_change_password.go
  internal/suites/action_login.go
  internal/suites/action_reset_password.go
  internal/suites/action_settings.go
  internal/suites/action_totp.go
  internal/suites/action_verify.go
  internal/suites/action_webauthn.go
  internal/suites/scenario_available_methods_test.go
  internal/suites/scenario_language_menu_test.go
  internal/suites/scenario_oidc_test.go
  internal/suites/scenario_regulation_test.go
  internal/suites/scenario_two_factor_webauthn_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_pam_test.go
  internal/suites/webdriver.go
Due: none

fix(web): clear the copy button timeouts on unmount
  web/src/components/CopyButton.test.tsx
  web/src/components/CopyButton.tsx
Due: frontend

fix(suites): bound element actions and report why they failed
  internal/suites/action_totp.go
  internal/suites/webdriver.go
  internal/suites/webdriver_test.go
Due: none

fix(suites): type the one-time password a slot at a time
  internal/suites/action_totp.go
Due: none

fix(web): start the second factor ceremony when the effect is run twice
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebAuthnMethod.tsx
Due: frontend

fix(web): stop tooltips swallowing clicks and panels reporting too early
  internal/suites/action_totp.go
  internal/suites/action_webauthn.go
  web/src/components/UI/Tooltip.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: frontend

fix(suites): wait for the page rather than a fixed interval
  internal/suites/action_settings.go
  internal/suites/action_visit.go
  internal/suites/scenario_language_menu_test.go
  internal/suites/scenario_one_factor_test.go
  internal/suites/verify_is_first_factor_page.go
  internal/suites/webdriver.go
Due: none

fix(suites): drop the tooltip dismissal
  internal/suites/action_settings.go
  internal/suites/action_tooltip.go
  internal/suites/action_totp.go
  internal/suites/action_webauthn.go
Due: none

refactor: generate
  cmd/authelia-scripts/cmd/gen.go
  internal/authentication/ldap_client_mock_test.go
  internal/mocks/oauth2_access_requester.go
  internal/mocks/oauth2_access_token_strategy.go
  internal/mocks/oauth2_pkce_request_storage.go
  internal/mocks/oauth2_token_introspector.go
Due: none

fix(web): animate the loading indicator from the stylesheet
  cmd/authelia-gen/const.go
  cmd/authelia-gen/helpers_test.go
  docs/data/misc.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/server/gen.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/index.css
  web/src/views/LoadingPage/BaseLoadingPage.test.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
Due: backend, frontend

refactor(middlewares): rate limit improvements
  internal/handlers/handler_oauth2_introspection.go
  internal/middlewares/const.go
  internal/middlewares/garbage_collector.go
  internal/middlewares/garbage_collector_test.go
  internal/middlewares/rate_limiting.go
  internal/middlewares/rate_limiting_test.go
  internal/middlewares/types.go
  internal/middlewares/util.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/service/const.go
  internal/service/garbage_collector.go
  internal/service/garbage_collector_test.go
  internal/service/provider.go
  internal/service/provider_test.go
  internal/service/server.go
Due: backend

fix(suites): let the one-time password field be gone once it is entered
  internal/suites/action_totp.go
  internal/suites/action_totp_test.go
Due: none

test(web): settle the account menu before asserting
  web/src/components/AppBarItemAccountSettings.test.tsx
Due: frontend

Update sender in smtp.md
  docs/content/configuration/notifications/smtp.md
Due: none

fix(expression): update package import path
  go.mod
  go.sum
  internal/expression/activation_map.go
  internal/expression/activation_user.go
  internal/expression/user_attributes.go
  internal/expression/user_attributes_whitebox_test.go
  internal/expression/util.go
  internal/expression/util_test.go
Due: backend

build(deps): update module cel.dev/cel-go to v0.32.0
  go.mod
  go.sum
  internal/expression/activation_map.go
  internal/expression/activation_user.go
  internal/expression/user_attributes.go
  internal/expression/user_attributes_whitebox_test.go
  internal/expression/util.go
  internal/expression/util_test.go
Due: backend

refactor: updated lints
  internal/commands/storage_run.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_postgres_test.go
Due: backend

refactor: updated lints (#12805)
  internal/commands/storage_run.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_postgres_test.go
Due: backend

test(suites): support concurrent runs across git worktrees
  bootstrap.sh
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/const.go
  cmd/authelia-scripts/cmd/slot.go
  cmd/authelia-scripts/cmd/slot_test.go
  cmd/authelia-scripts/cmd/suites.go
  cmd/authelia-scripts/cmd/types.go
  cmd/authelia-suites/main.go
  docs/content/contributing/development/integration-suites.md
  docs/content/reference/cli/authelia-scripts/authelia-scripts_suites.md
  docs/content/reference/cli/authelia-scripts/authelia-scripts_suites_slot.md
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/hosts.go
  internal/suites/hosts_test.go
  internal/suites/http.go
  internal/suites/scenario_backend_protection_test.go
  internal/suites/scenario_request_method_test.go
  internal/suites/suite_cli.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
  internal/suites/suite_standalone.go
  internal/suites/suite_two_factor.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: none

refactor: code suggestions
  cmd/authelia-scripts/cmd/slot.go
  cmd/authelia-scripts/cmd/slot_test.go
Due: none

fix: correct defects across the web frontend and the suites
  internal/suites/action_totp.go
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
  web/src/components/CopyButton.test.tsx
  web/src/components/CopyButton.tsx
  web/src/components/LinearProgressBar.test.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/PasskeyIcon.test.tsx
  web/src/components/PasskeyIcon.tsx
  web/src/components/UI/Progress.test.tsx
  web/src/components/UI/Progress.tsx
  web/src/components/UI/Toast.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormView.tsx
  web/src/views/LoginPortal/Authenticated.test.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.test.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordForm.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsMethodsRadioGroup.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsMethodsRadioGroup.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
Due: frontend

docs(oidc): update paperless version
  docs/content/integration/openid-connect/clients/paperless/index.md
Due: none

fix(configuration): jwk type direct not usable (#12756)
  internal/configuration/validator/util.go
  internal/configuration/validator/util_test.go
Due: backend

fix(templates): ineffectual checksum functions (#12757)
  internal/templates/funcs.go
  internal/templates/funcs_test.go
Due: backend

fix(logging): incorrect multi writer order (#12761)
  cmd/authelia-scripts/cmd/suites.go
  internal/logging/logger.go
Due: backend

test(suites): support concurrent runs across git worktrees (#12796)
  bootstrap.sh
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/const.go
  cmd/authelia-scripts/cmd/slot.go
  cmd/authelia-scripts/cmd/slot_test.go
  cmd/authelia-scripts/cmd/suites.go
  cmd/authelia-scripts/cmd/types.go
  cmd/authelia-suites/main.go
  docs/content/contributing/development/integration-suites.md
  docs/content/reference/cli/authelia-scripts/authelia-scripts_suites.md
  docs/content/reference/cli/authelia-scripts/authelia-scripts_suites_slot.md
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/hosts.go
  internal/suites/hosts_test.go
  internal/suites/http.go
  internal/suites/scenario_backend_protection_test.go
  internal/suites/scenario_request_method_test.go
  internal/suites/suite_cli.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_pam.go
  internal/suites/suite_pam_test.go
  internal/suites/suite_standalone.go
  internal/suites/suite_two_factor.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: none

fix: correct defects across the web frontend and the suites (#12804)
  internal/suites/action_totp.go
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
  web/src/components/CopyButton.test.tsx
  web/src/components/CopyButton.tsx
  web/src/components/LinearProgressBar.test.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/PasskeyIcon.test.tsx
  web/src/components/PasskeyIcon.tsx
  web/src/components/UI/Progress.test.tsx
  web/src/components/UI/Progress.tsx
  web/src/components/UI/Toast.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormView.tsx
  web/src/views/LoginPortal/Authenticated.test.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.test.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordForm.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsMethodsRadioGroup.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsMethodsRadioGroup.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
Due: frontend

ci(lefthook): exclude nested worktrees from tree wide scanners
  .gitignore
  .trufflehog
  .typos.toml
  .yamllint.yml
Due: none

test(suites): fetch a page again when it loses a response
  .buildkite/steps/e2etests.sh
  internal/suites/action_login.go
  internal/suites/action_reset_password.go
  internal/suites/action_visit.go
  internal/suites/action_visit_test.go
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/example/compose/traefik/compose.yml
  internal/suites/external_suite_templates_test.go
  internal/suites/hosts.go
  internal/suites/scenario_oidc_test.go
  internal/suites/scenario_passkey_test.go
  internal/suites/scenario_password_complexity_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/scenario_signin_email_test.go
  internal/suites/scenario_two_factor_totp_test.go
  internal/suites/scenario_two_factor_webauthn_test.go
  internal/suites/scenario_user_preferences_test.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_one_factor_only_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: none

test(suites): fetch a page again when it loses a response (#12815)
  .buildkite/steps/e2etests.sh
  internal/suites/action_login.go
  internal/suites/action_visit.go
  internal/suites/action_visit_test.go
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/example/compose/traefik/compose.yml
  internal/suites/external_suite_templates_test.go
  internal/suites/scenario_passkey_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/scenario_signin_email_test.go
  internal/suites/scenario_two_factor_totp_test.go
  internal/suites/scenario_two_factor_webauthn_test.go
  internal/suites/scenario_user_preferences_test.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_one_factor_only_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: none

perf(server): serve pre-compressed embedded assets
  internal/server/asset.go
  internal/server/asset_test.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/server_test.go
  internal/server/template.go
  internal/server/template_test.go
  internal/templates/const.go
  internal/templates/provider.go
Due: backend

perf(server): serve pre-compressed embedded assets (#12816)
  internal/server/asset.go
  internal/server/asset_test.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/server_test.go
  internal/server/template.go
  internal/server/template_test.go
  internal/templates/const.go
  internal/templates/provider.go
Due: backend
