Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

test(handlers): add tests for new ip login errors
  internal/handlers/handler_firstfactor_password_test.go
Due: backend

feat: add device info to new ip email
  examples/templates/notifications/no-preview/NewLogin.html
  go.mod
  go.sum
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/mocks/storage.go
  internal/storage/migrations/mysql/V0026.EmailOnNewIP.up.sql
  internal/storage/migrations/postgres/V0026.EmailOnNewIP.up.sql
  internal/storage/migrations/sqlite/V0026.EmailOnNewIP.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/templates/embed/notification/NewLogin.html
  internal/templates/embed/notification/NewLogin.txt
  internal/templates/src/emails/NewLogin.tsx
  internal/templates/src/index.tsx
  internal/templates/types.go
  internal/utils/user_agent.go
  internal/utils/user_agent_test.go
Due: backend

feat: add default values for known ip configuration
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/authentication_test.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_password_test.go
  internal/storage/sql_provider_queries.go
  internal/suites/Standalone/configuration.yml
Due: backend

feat: add trusted ips for known ip email
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/util.go
  internal/suites/Standalone/configuration.yml
Due: backend

test: add tests for ip tracking
  internal/handlers/handler_firstfactor_password_test.go
  internal/handlers/util.go
  internal/handlers/util_test.go
Due: backend

feat: add multiple expiry options
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

docs(oidc): update nextcloud (#12618)
  docs/content/integration/openid-connect/clients/nextcloud/index.md
Due: none

test: remove port from listener (#12662)
  internal/authentication/ldap_client_dialer_test.go
Due: backend

fix(handler): treat empty basic parameter as malformed (#12550)
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_misc_test.go
  internal/handlers/handler_authz_test.go
Due: backend

docs: apply suggestions from code review
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

Apply suggestions from code review
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

docs: apply suggestion
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

refactor: fixes
  docs/content/integration/openid-connect/clients/opencloud/index.md
  docs/hugo_stats.json
Due: none

docs: more fixes
  docs/content/integration/openid-connect/clients/opencloud/index.md
Due: none

docs(oidc): opencloud (#12528)
  docs/content/integration/openid-connect/clients/opencloud/index.md
  docs/hugo_stats.json
Due: none

feat(web): passkey conditional mediation
  api/openapi.yml
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/server/handlers.go
  web/src/services/Api.ts
  web/src/services/WebAuthn.test.ts
  web/src/services/WebAuthn.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
Due: backend, frontend

feat: passkey remember me
  docs/hugo_stats.json
  internal/server/locales/en/portal.json
  internal/suites/action_login.go
  internal/suites/scenario_passkey_test.go
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyRememberMeDialog.test.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyRememberMeDialog.tsx
Due: backend, frontend

test(suites): add oidc client credentials tests (#12520)
  internal/handlers/handler_oauth2_token.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/suites/OIDC/configuration.yml
  internal/suites/scenario_oidc_client_credentials_test.go
  internal/suites/suite_oidc_test.go
Due: backend

fix(ntp): strict response validation (#12551)
  internal/ntp/const.go
  internal/ntp/ntp.go
  internal/ntp/ntp_test.go
  internal/ntp/util.go
  internal/ntp/util_test.go
Due: backend

refactor(middlewares): adjust http adaptor (#12652)
  internal/middlewares/const.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/http_to_authelia_handler_adaptor_test.go
Due: backend

revert removal of oidc issues
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

feat: add more tests, and cli
  docs/content/reference/cli/authelia/authelia_storage.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_add.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_delete.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_export.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_import.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_list.md
  docs/content/reference/cli/authelia/authelia_storage_known-ips_prune.md
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/commands/storage_run_test.go
  internal/configuration/validator/authentication.go
  internal/mocks/storage.go
  internal/model/known_ip.go
  internal/model/types.go
  internal/storage/migrations/sqlite/V0026.EmailOnNewIP.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_test.go
  internal/suites/NetworkACL/configuration.yml
  internal/suites/action_api_client.go
  internal/suites/action_mail.go
  internal/suites/suite_network_acl_test.go
  internal/utils/strings.go
  internal/utils/table.go
  internal/utils/table_test.go
Due: backend

docs (oidc): integration doc for wg-portal
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

fix (docs): remove unnecessary group scope from wg-portal integration
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

fix (docs): add explicit field mapping for wg-portal
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

docs: fix v5 issues
  docs/assets/scss/app.scss
  docs/assets/scss/components/_forms.scss
  docs/hugo_stats.json
  docs/layouts/_partials/head/libsass.html
Due: none

build(deps): update dependency nanoid to v3.3.17 [security]
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
Due: none

fix: tests
  internal/commands/storage_run_test.go
  internal/storage/sql_provider.go
Due: backend

fix: apply review suggestions
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/types.go
  internal/authentication/types_test.go
  internal/authentication/user_management_file.go
  internal/authentication/user_management_file_test.go
  internal/authentication/user_management_ldap_activedirectory.go
  internal/authentication/user_management_ldap_rfc2307bis.go
  internal/handlers/handler_user_management.go
  internal/middlewares/identity_verification.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/suites/example/compose/authelia/Dockerfile.frontend
Due: backend

build(deps): update dependency nanoid to 3.3.17 [security]
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

fix(configuration): add authelia.pam to scopes in schema
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
Due: backend

build(deps): update dependency nanoid to 3.3.17 [security] (#12703)
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: frontend

fix: data structure issues (#12704)
  cmd/authelia-scripts/cmd/gen.go
  docs/content/integration/kubernetes/envoy/gateway.md
  docs/content/integration/kubernetes/envoy/istio.md
  docs/content/integration/openid-connect/clients/technitium/index.md
  docs/data/misc.json
  docs/static/schemas/latest/json-schema/user-database.json
  docs/static/schemas/v4.39/json-schema/user-database.json
  internal/authentication/file_user_provider_database.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/session.go
  internal/configuration/schema/storage.go
  internal/configuration/schema/types_address.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/model/identity_verification.go
  internal/model/oidc.go
  internal/model/webauthn.go
  internal/model/webauthn_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
Due: backend

docs(oidc): integration doc for wg-portal (#12692)
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

feat(logging): add option to disable timestamp
  config.template.yml
  docs/content/configuration/miscellaneous/logging.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/commands/context.go
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/log.go
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: backend

test(logging): close log files in tests
  internal/logging/logger_test.go
Due: backend

test(suites): include failure diagnostics and screenshot annotations
  .buildkite/annotations/screenshots.sh
  .buildkite/hooks/post-command
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/kubernetes.go
  internal/suites/utils.go
Due: none

test(suites): harden duo flaky notification race
  go.mod
  internal/suites/const.go
  internal/suites/suite_duo_push_test.go
  internal/suites/verify_notification.go
Due: none
