Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): replace picomatch and yaml versions
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): replace picomatch and yaml versions (#11582)
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

fix(authentication): cache miss in edge case (#11541)
  internal/authentication/cached.go
  internal/authentication/cached_test.go
Due: backend

ci: update script posix compatibility
  .buildkite/pipeline.sh
  .buildkite/steps/lint.sh
  bootstrap.sh
Due: none

ci: update script posix compatibility (#11587)
  .buildkite/pipeline.sh
  .buildkite/steps/lint.sh
  bootstrap.sh
Due: none

refactor(authentication): format ldap versions
  internal/authentication/ldap_user_provider_lifecycle.go
  internal/authentication/ldap_util.go
  internal/authentication/ldap_util_test.go
Due: backend

build(deps): update dependency path-to-regexp to v8.4.0 [security]
  internal/suites/example/compose/duo-api/package.json
  internal/suites/example/compose/duo-api/pnpm-lock.yaml
Due: none

refactor(authentication): format ldap versions (#11579)
  internal/authentication/ldap_user_provider_lifecycle.go
  internal/authentication/ldap_util.go
  internal/authentication/ldap_util_test.go
Due: backend

feat(web): style enrollment redirect dialog with centered layout
  web/src/views/Settings/TwoFactorAuthentication/RedirectAfterEnrollmentDialog.tsx
Due: frontend

Revert "build(deps): update dependency axios to v1.14.1 (#11597)"
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): downgrade dependency axios to v1.14.0 (#11600)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: rebase
  internal/commands/build_info_test.go
  internal/commands/context_test.go
  internal/commands/crypto.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/validator/authentication_test.go
  internal/duo/duo_test.go
  internal/handlers/handler_oauth2_consent.go
  internal/middlewares/authelia_context.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/service/file_watcher_test.go
Due: backend

test: add tests
  internal/authentication/const_test.go
  internal/authentication/file_user_provider_test.go
  internal/authentication/ldap_client_dialer.go
  internal/authentication/ldap_client_dialer_test.go
  internal/commands/crypto_hash_test.go
  internal/commands/crypto_helper_test.go
  internal/commands/debug_test.go
  internal/commands/helpers.go
  internal/commands/helpers_test.go
  internal/commands/storage_run_test.go
  internal/commands/util_test.go
  internal/duo/duo_test.go
  internal/middlewares/rate_limiting_test.go
  internal/oidc/types.go
Due: backend

test: add tests
  internal/commands/acl_test.go
  internal/commands/build_info_test.go
  internal/commands/config_test.go
  internal/commands/crypto.go
  internal/commands/crypto_hash_test.go
  internal/commands/crypto_test.go
  internal/commands/storage_run_test.go
  internal/middlewares/metrics_test.go
  internal/middlewares/rate_limiting_test.go
Due: backend

test: add tests
  internal/commands/build_info_test.go
  internal/commands/crypto_hash_test.go
  internal/commands/debug_test.go
  internal/commands/helpers_test.go
  internal/commands/util_test.go
  internal/configuration/schema/identity_providers_test.go
  internal/configuration/schema/types_test.go
  internal/configuration/schema/util_test.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/definitions_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/regulation_test.go
  internal/configuration/validator/util_test.go
  internal/configuration/validator/webauthn_test.go
Due: backend

test: add tests
  internal/oidc/claims_test.go
  internal/oidc/client_credentials_test.go
  internal/oidc/config_test.go
  internal/oidc/const_test.go
  internal/oidc/errors_test.go
  internal/oidc/issuer_test.go
  internal/oidc/session_test.go
  internal/oidc/store_test.go
  internal/oidc/subject_test.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/oidc/util_test.go
Due: backend

test: add tests
  internal/authentication/const_test.go
  internal/metrics/metrics.go
  internal/metrics/prometheus.go
  internal/middlewares/metrics_test.go
  internal/middlewares/util_test.go
  internal/server/handlers.go
  internal/server/server.go
Due: backend

refactor: remove props
  sonar-project.properties
Due: none

test: refactor
  internal/commands/config_test.go
  internal/commands/crypto_hash_test.go
  internal/commands/crypto_helper_test.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

test: increase minimum total coverage
  .codecov.yml
Due: none

test: add tests
  internal/server/asset_test.go
  internal/templates/util_test.go
Due: backend

test: add tests
  internal/ntp/ntp_test.go
  internal/ntp/util_test.go
  internal/oidc/client_test.go
Due: backend

test: add tests
  internal/server/asset_test.go
  internal/server/handlers_test.go
  internal/server/server_test.go
  internal/server/template_test.go
  internal/storage/sql_provider_encryption_test.go
  internal/storage/sql_provider_test.go
Due: backend

test: add tests
  internal/configuration/schema/types_test.go
  internal/expression/activation_map_test.go
  internal/expression/activation_user_whitebox_test.go
  internal/expression/user_attributes_blackbox_test.go
  internal/expression/util_test.go
  internal/model/totp_configuration_test.go
  internal/model/webauthn_test.go
  internal/notification/file_notifier_test.go
  internal/notification/smtp_notifier_test.go
  internal/ntp/ntp_test.go
  internal/oidc/config_test.go
  internal/oidc/util_blackbox_test.go
  internal/oidc/util_test.go
  internal/random/cryptographical_test.go
  internal/random/mathematical_test.go
  internal/utils/aes_test.go
  internal/utils/crypto_test.go
  internal/utils/errs_test.go
  internal/utils/files_test.go
Due: backend

Add rudimentary codespell config
  .codespellrc
Due: none

Add GitHub Actions workflow for codespell on master
  .github/workflows/codespell.yml
Due: none

Update codespell config with comprehensive skip patterns and ignore lists
  .codespellrc
Due: none

Fix ambiguous typos requiring context review
  docs/.prettierrc.yaml
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/guidelines/accessibility.md
  docs/content/contributing/guidelines/pull-request.md
  internal/configuration/schema/ntp.go
Due: backend

[DATALAD RUNCMD] Fix non-ambiguous typos with codespell -w
  docs/config/_default/params.toml
  docs/content/blog/technical-oidc-nuances/index.md
  docs/content/configuration/miscellaneous/server.md
  docs/content/integration/openid-connect/clients/jellyfin/index.md
  docs/content/integration/openid-connect/clients/openproject/index.md
  docs/content/reference/architecture-decision-log/1.md
  internal/commands/helpers.go
  internal/commands/storage.go
  internal/configuration/validator/server_test.go
  internal/model/webauthn.go
  internal/model/webauthn_test.go
  internal/oidc/config.go
  internal/storage/sql_provider_encryption.go
Due: backend

Fix false positive and capitalization from codespell -w
  .codespellrc
  docs/content/blog/technical-oidc-nuances/index.md
  internal/configuration/validator/server_test.go
Due: backend

test: fix failing ui tests
  web/src/components/AppBarItemAccountSettings.test.tsx
  web/src/components/AppBarLoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/Settings/UserManagement/EditUserDialog.tsx
  web/src/views/Settings/UserManagement/GroupManagementView.tsx
  web/src/views/Settings/UserManagement/NewGroupDialog.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.tsx
  web/src/views/Settings/UserManagement/SetPasswordDialog.tsx
  web/src/views/Settings/UserManagement/UserManagementView.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteGroupDialog.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteUserDialog.tsx
Due: frontend

stuff
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/types.go
  internal/authentication/user_management_file.go
  internal/authentication/user_management_ldap_rfc2307bis.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_management.go
  internal/server/handlers.go
  internal/suites/Standalone/configuration.yml
  internal/suites/Standalone/users.yml
  internal/suites/scenario_file_user_management_test.go
  internal/suites/scenario_group_management_api_test.go
  internal/suites/scenario_user_management_api_test.go
  web/src/components/UserInputField.tsx
  web/src/layouts/SettingsLayout.tsx
  web/src/services/UserManagement.ts
  web/src/views/Settings/UserManagement/EditUserDialog.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.tsx
  web/src/views/Settings/UserManagement/SetPasswordDialog.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteUserDialog.tsx
Due: backend, frontend

ci: add no changelog label
  .renovaterc
Due: none

Pin GitHub Actions to full commit SHAs in codespell workflow
  .github/workflows/codespell.yml
Due: none

Update actions-codespell to v2.2
  .github/workflows/codespell.yml
Due: none

feat: add integer support for extra attributes
  internal/authentication/user_management_file.go
  internal/authentication/user_management_ldap_rfc2307bis.go
  internal/handlers/const.go
  internal/handlers/handler_user_info.go
  internal/server/locales/en/settings.json
  internal/suites/Standalone/users.yml
  internal/suites/scenario_user_management_api_test.go
  web/src/components/UserInputField.tsx
  web/src/constants/Regex.ts
  web/src/services/UserManagement.ts
  web/src/views/Settings/UserManagement/SetPasswordDialog.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteUserDialog.tsx
Due: backend, frontend

Introduce .mailmap to consolidate author identities
  .mailmap
Due: none
