Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix(authorization): case-insensitive domain matching [security] (#12169)
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_domain_test.go
  internal/authorization/authorizer_test.go
  internal/utils/strings.go
Due: backend

refactor: lint
  internal/utils/strings.go
Due: backend

test(suites): increase timeout for ldap (#12167)
  internal/suites/suite_ldap.go
Due: none

fix(handlers): basic auth username canonicalization [security]
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/handlers/handler_authz_impl_extauthz_test.go
  internal/handlers/handler_authz_impl_forwardauth_test.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_misc_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_sign_password.go
  internal/handlers/handler_sign_password_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/middlewares/timing_attack_delay.go
  internal/middlewares/timing_attack_delay_test.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/server/handlers.go
Due: backend

build(deps): revert react-email monorepo to v6.3.2
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
Due: backend

build(deps): revert react-email monorepo to v6.3.2 (#12171)
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
Due: backend

fix(handlers): basic auth username canonicalization [security] (#12170)
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/handlers/handler_authz_impl_extauthz_test.go
  internal/handlers/handler_authz_impl_forwardauth_test.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_misc_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_sign_password.go
  internal/handlers/handler_sign_password_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/middlewares/timing_attack_delay.go
  internal/middlewares/timing_attack_delay_test.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/server/handlers.go
Due: backend

fix(utils): domain canonical case handling (#12146)
  internal/middlewares/authelia_context.go
  internal/utils/strings.go
  internal/utils/strings_test.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

ci(renovate): align npm release age with pnpm default
  .renovaterc
Due: none

ci(renovate): align npm release age with pnpm default (#12181)
  .renovaterc
Due: none

build(deps): bump oidc
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/integration/openid-connect/introduction.md
  internal/oidc/config.go
  internal/oidc/util_blackbox_test.go
Due: backend

build(deps): update netlify hugo
  docs/netlify.toml
Due: none

test(suites): pass cached path to first mds3 update call
  internal/suites/suite_cli_test.go
Due: none

test(suites): disble webauthn metadata for twofactor
  internal/suites/TwoFactor/configuration.yml
Due: none

test(suites): pass cached path to first mds3 update call (#12185)
  internal/suites/TwoFactor/configuration.yml
  internal/suites/suite_cli_test.go
Due: none

fix: adjust breaking changes from upstream
  docs/content/integration/openid-connect/introduction.md
  go.mod
  go.sum
  internal/handlers/handler_authz_types.go
  internal/oidc/config.go
  internal/suites/scenario_oidc_test.go
Due: backend

docs: update grant types
  docs/content/integration/openid-connect/introduction.md
  docs/hugo_stats.json
Due: none

fix(utils): normalize url hosts for default ports
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

fix(utils): compare default URL ports equally
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

fix(session): reject conflicting cookie domain configs
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

fix(middlewares): match issuers with canonical hosts
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_blackbox_test.go
Due: backend

fix(session): allow port-specific authelia urls
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider.go
  internal/session/provider_test.go
Due: backend

docs(oidc): add userinfo option to nextcloud user_oidc
  docs/content/integration/openid-connect/clients/nextcloud/index.md
Due: none

docs(oidc): add missing config
  docs/content/integration/openid-connect/clients/nextcloud/index.md
Due: none

refactor: factorize sql errors and methods
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_consent.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/storage/errors.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_mock_test.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_test.go
  internal/storage/sql_provider_util.go
Due: backend

Replace passkey signin label in PL locale
  internal/server/locales/pl-PL/portal.json
Due: backend

PL locale review
  internal/server/locales/pl-PL/portal.json
Due: backend

fix(web): fix grammar in polish locale
  internal/server/locales/pl-PL/portal.json
Due: backend

ci: broaden lefthook grype ignore to all embedded packages
  .grype.yaml
Due: none

ci: broaden lefthook grype ignore to all embedded packages (#12258)
  .grype.yaml
Due: none

fix(metrics): missing record invocation
  internal/regulation/regulator.go
Due: backend

fix(authorization): legacy wildcard consistency
  internal/authorization/access_control_domain.go
  internal/authorization/authorizer_test.go
Due: backend

build(deps): update dependency esbuild to v0.28.1 [security]
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
Due: backend

fix(handlers): incorrect middleware use
  internal/server/handlers.go
  web/src/services/UserInfoTOTPConfiguration.ts
Due: backend, frontend

Updated roundcube config
  docs/content/integration/openid-connect/clients/roundcube/index.md
Due: none

docs: update copyright owners
  LICENSE
Due: none

docs: update copyright owners (#12308)
  LICENSE
Due: none
