Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix(session): handle base64 corruption and validate expiration
  internal/session/file_provider.go
  internal/session/file_provider_test.go
Due: backend

feat(session): replace file provider with SQL storage
  .gitignore
  docs/content/configuration/session/file.md
  docs/content/configuration/session/introduction.md
  experimental/embed/provider/general.go
  internal/configuration/schema/session.go
  internal/configuration/test_resources/config_no_address_mysql.yml
  internal/configuration/test_resources/config_no_address_postgres.yml
  internal/configuration/test_resources/config_no_address_smtp.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_authz_test.go
  internal/middlewares/authelia_context_blackbox_test.go
  internal/middlewares/util.go
  internal/mocks/authelia_ctx.go
  internal/mocks/storage.go
  internal/server/template_test.go
  internal/session/file_provider.go
  internal/session/file_provider_test.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_test.go
  internal/session/sql_provider.go
  internal/session/sql_provider_test.go
  internal/storage/const.go
  internal/storage/migrations/mysql/V0024.Sessions.down.sql
  internal/storage/migrations/mysql/V0024.Sessions.up.sql
  internal/storage/migrations/postgres/V0024.Sessions.down.sql
  internal/storage/migrations/postgres/V0024.Sessions.up.sql
  internal/storage/migrations/sqlite/V0024.Sessions.down.sql
  internal/storage/migrations/sqlite/V0024.Sessions.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

Fix link to SFTPGo integration documentation
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

refactor: generate
  cmd/authelia-gen/templates/dot_commitlintrc.cjs.tmpl
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  cmd/authelia-scripts/cmd/gen.go
  docs/content/integration/openid-connect/clients/jellysweep/index.md
  docs/data/misc.json
Due: none

Update docs/content/integration/openid-connect/clients/linkace/index.md
  docs/content/integration/openid-connect/clients/linkace/index.md
Due: none

refactor: remove hugo stats
  docs/hugo_stats.json
Due: none

docs(oidc): linkace (#11130)
  docs/content/integration/openid-connect/clients/linkace/index.md
Due: none

test: fix tests
  internal/authentication/file_user_provider_database_test.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/schema/types_test.go
  internal/templates/funcs_test.go
Due: backend

fix(configuration): max retries default
  experimental/embed/config_test.go
  internal/configuration/defaults.go
Due: backend

refactor: linting
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/helpers_docker.go
  cmd/authelia-scripts/cmd/suites.go
  cmd/authelia-scripts/cmd/types.go
  internal/configuration/validator/session.go
  internal/notification/smtp_notifier.go
  internal/oidc/util.go
  internal/storage/migrations_test.go
  internal/suites/registry.go
  internal/suites/scenario_available_methods_test.go
  internal/templates/funcs.go
  internal/utils/locale.go
Due: backend

docs: update deps
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor: linting (#11178)
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/helpers_docker.go
  cmd/authelia-scripts/cmd/suites.go
  cmd/authelia-scripts/cmd/types.go
  internal/configuration/validator/session.go
  internal/notification/smtp_notifier.go
  internal/oidc/util.go
  internal/storage/migrations_test.go
  internal/suites/registry.go
  internal/suites/scenario_available_methods_test.go
  internal/templates/funcs.go
  internal/utils/locale.go
Due: backend

workflow testing
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

revert tests
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

test
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

revert
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

s
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

feat: custom scope descriptions
  internal/configuration/schema/identity_providers.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/types.go
  web/src/services/ConsentOpenIDConnect.ts
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormScopes.tsx
  web/src/views/ConsentPortal/OpenIDConnect/DecisionFormView.tsx
Due: backend, frontend

docs(oidc): homebox
  docs/content/integration/openid-connect/clients/homebox/index.md
Due: none

docs(oidc): papra update
  docs/content/integration/openid-connect/clients/papra/index.md
Due: none

docs(oidc): homebox (#11187)
  docs/content/integration/openid-connect/clients/homebox/index.md
Due: none

docs: fix link (#11176)
  docs/content/integration/openid-connect/openid-connect-1.0-claims.md
Due: none

docs(oidc): papra update (#11210)
  docs/content/integration/openid-connect/clients/papra/index.md
Due: none

Add auth_style configuration for Grafana OAuth
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

Update Grafana version to v12.3.2
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

feat(expression): add extensions
  internal/expression/util.go
Due: backend

docs(oidc): align provider config with actual Homebox OAuth behaviour
  docs/content/integration/openid-connect/clients/homebox/index.md
Due: none

docs(oidc): update homebox (#11227)
  docs/content/integration/openid-connect/clients/homebox/index.md
Due: none

docs(oidc): update grafana (#11225)
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

feat(expression): add extensions
  docs/content/configuration/definitions/user-attributes.md
  internal/expression/util.go
Due: backend

Update docs/content/integration/openid-connect/clients/jellysweep/index.md
  docs/content/integration/openid-connect/clients/jellysweep/index.md
Due: none

refactor: address review
  internal/utils/exec.go
Due: backend

docs: add cache policy to options example (#11232)
  docs/content/configuration/second-factor/webauthn.md
Due: none

fix: improve root directory finding (#11029)
  internal/utils/exec.go
Due: backend

docs: update hash (#9867)
  examples/compose/lite/authelia/users_database.yml
Due: none
