Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): update @docsearch monorepo to v5
  docs/assets/js/docsearch.js
  docs/assets/scss/app.scss
  docs/config/_default/module.toml
  docs/layouts/_partials/head/custom-head.html
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

build(deps): update @docsearch monorepo to v5 (#12846)
  docs/assets/js/docsearch.js
  docs/assets/scss/app.scss
  docs/config/_default/module.toml
  docs/layouts/_partials/head/custom-head.html
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor(web): replace react-router-dom with react-router v8
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/src/App.tsx
  web/src/hooks/Flow.test.ts
  web/src/hooks/Flow.ts
  web/src/hooks/OpenIDConnect.test.ts
  web/src/hooks/OpenIDConnect.ts
  web/src/hooks/QueryParam.test.ts
  web/src/hooks/QueryParam.ts
  web/src/hooks/Revoke.test.ts
  web/src/hooks/Revoke.ts
  web/src/hooks/RouterNavigate.test.ts
  web/src/hooks/RouterNavigate.ts
  web/src/hooks/SignOut.test.ts
  web/src/hooks/SignOut.ts
  web/src/views/ConsentPortal/CompletionView.test.tsx
  web/src/views/ConsentPortal/CompletionView.tsx
  web/src/views/ConsentPortal/ConsentPortal.test.tsx
  web/src/views/ConsentPortal/ConsentPortal.tsx
  web/src/views/ConsentPortal/OpenIDConnect/ConsentPortal.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/ConsentPortal.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.test.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.test.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.test.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.test.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/SettingsRouter.test.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: frontend

refactor(web): replace react-router-dom with react-router v8 (#12842)
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/src/App.tsx
  web/src/hooks/Flow.test.ts
  web/src/hooks/Flow.ts
  web/src/hooks/OpenIDConnect.test.ts
  web/src/hooks/OpenIDConnect.ts
  web/src/hooks/QueryParam.test.ts
  web/src/hooks/QueryParam.ts
  web/src/hooks/Revoke.test.ts
  web/src/hooks/Revoke.ts
  web/src/hooks/RouterNavigate.test.ts
  web/src/hooks/RouterNavigate.ts
  web/src/hooks/SignOut.test.ts
  web/src/hooks/SignOut.ts
  web/src/views/ConsentPortal/CompletionView.test.tsx
  web/src/views/ConsentPortal/CompletionView.tsx
  web/src/views/ConsentPortal/ConsentPortal.test.tsx
  web/src/views/ConsentPortal/ConsentPortal.tsx
  web/src/views/ConsentPortal/OpenIDConnect/ConsentPortal.test.tsx
  web/src/views/ConsentPortal/OpenIDConnect/ConsentPortal.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.test.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.test.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.test.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.test.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.test.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/SettingsRouter.test.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: frontend

fix(suites): use traefik.io api group for kubernetes suite
  internal/suites/example/kube/authelia/authelia.yml
  internal/suites/example/kube/dashboards.yml
Due: none

build(docker): bootstrap pnpm with npm instead of yarn
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/duo-api/Dockerfile
Due: none

fix(oidc): additional consent binding
  internal/handlers/const.go
  internal/handlers/handler_oauth2_authorization_consent_core_test.go
  internal/handlers/handler_oauth2_authorization_consent_explicit.go
  internal/handlers/handler_oauth2_authorization_consent_implicit.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured.go
  internal/model/const.go
  internal/model/oidc.go
  internal/model/oidc_test.go
Due: backend

refactor(handlers): include configurable rate limit
  cmd/authelia-scripts/cmd/gen.go
  docs/data/configkeys.json
  docs/data/misc.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/server.go
  internal/server/handlers.go
Due: backend

fix(handlers): use regeneration more frequently
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_register_duo_device.go
  internal/handlers/handler_register_duo_device_test.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/authelia_context.go
  internal/oidc/errors.go
  internal/server/template.go
Due: backend

Fix systemd dependency loop
  authelia.service
  authelia@.service
Due: none

docs(oidc): update paperless version (#12807)
  docs/content/integration/openid-connect/clients/paperless/index.md
Due: none

build(deps): run typescript 7 side-by-side with the 6.0 api
  .grype.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: frontend

ci(golangci-lint): replace goimports-reviser with gci
  .buildkite/steps/lint.sh
  .golangci.yml
  .lefthook.yml
  .reviewdog.yml
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/environment.md
  docs/content/contributing/guidelines/testing.md
Due: none

ci(golangci-lint): replace goimports-reviser with gci (#12857)
  .buildkite/steps/lint.sh
  .golangci.yml
  .lefthook.yml
  .reviewdog.yml
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/environment.md
  docs/content/contributing/guidelines/testing.md
Due: none

refactor: update defaults
  internal/configuration/defaults.go
Due: backend

test: fix tests
  experimental/embed/config_test.go
Due: none

docs: rebase
  docs/content/contributing/guidelines/commit-message.md
Due: none

refactor(web): remove dependency on node type definitions
  web/package.json
  web/pnpm-lock.yaml
  web/src/hooks/IntermittentClass.ts
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Common/SecondFactorMethodOneTimePassword.tsx
  web/vite.config.ts
Due: frontend

refactor(templates): repair linting and align formatting
  internal/suites/testdata/templates_event_snapshot.png
  internal/suites/testdata/templates_identity_verification_jwt_snapshot.png
  internal/templates/src/.editorconfig
  internal/templates/src/.eslintrc.js
  internal/templates/src/.prettierignore
  internal/templates/src/.prettierrc.js
  internal/templates/src/components/Brand.tsx
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/eslint.config.mjs
  internal/templates/src/index.tsx
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
  internal/templates/src/prettier.config.mjs
  internal/templates/src/tsconfig.json
Due: backend

docs: align commit message generator and linter table with prettier
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/contributing/guidelines/testing.md
Due: none

refactor: adjust linting, formatting, dependencies and generator output (#12856)
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/contributing/guidelines/testing.md
  internal/suites/testdata/templates_event_snapshot.png
  internal/suites/testdata/templates_identity_verification_jwt_snapshot.png
  internal/templates/src/.editorconfig
  internal/templates/src/.eslintrc.js
  internal/templates/src/.prettierignore
  internal/templates/src/.prettierrc.js
  internal/templates/src/components/Brand.tsx
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/eslint.config.mjs
  internal/templates/src/index.tsx
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
  internal/templates/src/prettier.config.mjs
  internal/templates/src/tsconfig.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/hooks/IntermittentClass.ts
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Common/SecondFactorMethodOneTimePassword.tsx
  web/vite.config.ts
Due: backend, frontend

refactor(oidc): improved session binding (#12860)
  internal/handlers/const.go
  internal/handlers/handler_oauth2_authorization_consent_core_test.go
  internal/handlers/handler_oauth2_authorization_consent_explicit.go
  internal/handlers/handler_oauth2_authorization_consent_implicit.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured.go
  internal/model/const.go
  internal/model/oidc.go
  internal/model/oidc_test.go
Due: backend

test: add tests
  internal/handlers/const_test.go
  internal/handlers/handler_checks_safe_redirection_test.go
  internal/handlers/handler_logout_test.go
  internal/handlers/handler_register_duo_device_test.go
  internal/handlers/handler_reset_password_test.go
  internal/handlers/handler_session_elevation_test.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_user_info_test.go
  internal/middlewares/identity_verification_test.go
Due: backend

build(npm): drop the ajv overrides preventing eslint from loading
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/pnpm-workspace.yaml
Due: backend

fix(handlers): use regeneration more frequently (#12858)
  internal/handlers/const_test.go
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_checks_safe_redirection_test.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_logout_test.go
  internal/handlers/handler_register_duo_device.go
  internal/handlers/handler_register_duo_device_test.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_reset_password_test.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/authelia_context.go
  internal/oidc/errors.go
  internal/server/template.go
Due: backend

refactor(handlers): include configurable rate limit (#12859)
  cmd/authelia-scripts/cmd/gen.go
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  experimental/embed/config_test.go
  internal/configuration/defaults.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/server.go
  internal/server/handlers.go
Due: backend

docs(oidc): update group mapping in wg-portal (#12834)
  docs/content/integration/openid-connect/clients/wg-portal/index.md
Due: none

docs: wrap long identifiers rather than overflowing the page
  docs/assets/scss/common/_custom.scss
  internal/suites/external_suite_docs_test.go
Due: none

docs: expand the navbar at xl rather than lg
  docs/layouts/_partials/header/header.html
  internal/suites/external_suite_docs_test.go
Due: none

docs: stop tracking the generated hugo stats file
  docs/.gitignore
  docs/hugo_stats.json
Due: none

docs: wrap tables in horizontal scroll containers
  docs/hugo_stats.json
  docs/layouts/_markup/render-table.html
  docs/layouts/_shortcodes/table-totp-support.html
  internal/suites/external_suite_docs_test.go
Due: none

docs: fix double slash in the edit page link
  docs/layouts/_partials/main/edit-page.html
Due: none

fix(middlewares): include the error a session was not retrieved with
  internal/middlewares/authelia_context.go
Due: backend

fix(middlewares): include the error a session was not retrieved with (#12868)
  internal/middlewares/authelia_context.go
Due: backend

docs: fix horizontal overflow across the documentation site (#12865)
  docs/.gitignore
  docs/assets/scss/common/_custom.scss
  docs/hugo_stats.json
  docs/layouts/_markup/render-table.html
  docs/layouts/_partials/header/header.html
  docs/layouts/_partials/main/edit-page.html
  docs/layouts/_shortcodes/table-totp-support.html
  internal/suites/external_suite_docs_test.go
Due: none

test(suites): keep what a failing browser test leaves behind
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  internal/suites/action_visit.go
  internal/suites/console_test.go
  internal/suites/environment.go
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
  internal/suites/main_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_traefik_test.go
  internal/suites/suites.go
  internal/suites/teardown_test.go
  internal/suites/utils.go
  internal/suites/watchdog.go
  internal/suites/watchdog_test.go
  internal/suites/webdriver.go
  internal/suites/webdriver_wait_test.go
Due: none

test(suites): keep what a failing browser test leaves behind (#12869)
  .buildkite/steps/e2epackages.sh
  .buildkite/steps/e2etests.sh
  internal/suites/action_visit.go
  internal/suites/console_test.go
  internal/suites/environment.go
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
  internal/suites/main_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_traefik_test.go
  internal/suites/suites.go
  internal/suites/teardown_test.go
  internal/suites/utils.go
  internal/suites/watchdog.go
  internal/suites/watchdog_test.go
  internal/suites/webdriver.go
  internal/suites/webdriver_wait_test.go
Due: none

docs(oidc): update 2fauth styling
  docs/content/integration/openid-connect/clients/2fauth/index.md
Due: none
