Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        threshold: 0.15%
        flags:
          - backend
      frontend:
        base: auto
        threshold: 0.15%
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/mocks/"
      - "!internal/suites/"
      - "!internal/**/*_mock_test.go"
  frontend:
    paths:
      - "web/"
      - "!web/coverage/"
      - "!web/src/serviceWorker.ts"

ignore:
  - "**/coverage.txt"


parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

test(suites): fix highavailability role detection for failovers
  cmd/authelia-scripts/cmd/helpers_results.go
  internal/suites/const.go
  internal/suites/environment.go
  internal/suites/external_suite_templates_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/utils.go
  internal/suites/verify_notification.go
Due: none

test(suites): harden ci with compose wait and healthchecks
  internal/suites/docker.go
  internal/suites/environment.go
  internal/suites/example/compose/authelia/compose.backend.dist.yml
  internal/suites/example/compose/ldap/compose.yml
  internal/suites/example/compose/mariadb/compose.yml
  internal/suites/example/compose/mysql/compose.yml
  internal/suites/example/compose/postgres/compose.yml
  internal/suites/example/compose/redis-sentinel/compose.yml
  internal/suites/example/compose/redis/compose.yml
  internal/suites/example/compose/samba/compose.yml
  internal/suites/suite_high_availability_test.go
Due: none

test(suites): omit pathprefix docker warning
  internal/suites/example/compose/authelia/compose.backend.dev.yml
  internal/suites/example/compose/authelia/compose.backend.dist.yml
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
  internal/suites/example/compose/authelia/compose.frontend.dist.yml
  internal/suites/example/compose/traefik/compose.yml
Due: none

refactor: code suggestions
  internal/suites/action_http.go
  internal/suites/action_visit.go
  internal/suites/external_suite_templates_test.go
  internal/suites/utils.go
Due: none

test(model): prevent drift for user model
  internal/model/user_ext_test.go
Due: backend

refactor: code suggestions
  internal/suites/action_visit.go
  internal/suites/suite_duo_push_test.go
Due: none

test(suites): fix broken suites
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  bootstrap.sh
  cmd/authelia-suites/main.go
  docs/content/contributing/development/integration-suites.md
  internal/suites/const.go
  internal/suites/docker.go
  internal/suites/example/compose/duo-api/compose.yml
  internal/suites/example/compose/haproxy/compose.yml
  internal/suites/example/compose/samba/compose.yml
  internal/suites/example/compose/traefik/compose.yml
  internal/suites/example/compose/traefik/config/static.yml
  internal/suites/suite_cli.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_pam.go
  internal/suites/suite_standalone.go
  internal/suites/suite_two_factor.go
Due: none

test(suites): fix flaky change password test
  internal/suites/action_change_password.go
  internal/suites/webdriver.go
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

test(suites): fix dev frontend pnpm conflict and resource limits
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/authelia/compose.frontend.dev.yml
Due: none

refactor: code suggestions
  cmd/authelia-scripts/cmd/bootstrap.go
  docs/content/contributing/development/integration-suites.md
  internal/suites/suite_cli.go
  web/src/views/ResetPassword/ResetPasswordStep2.test.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

refactor(handlers): factorize usages
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_util.go
  internal/handlers/handler_authz_util_test.go
Due: backend

docs: fix table
  docs/content/contributing/development/integration-suites.md
Due: none

fix(api): missing and misleading endpoints
  api/openapi.yml
Due: none

test(suites): fix flaky high availability tests
  internal/suites/suite_high_availability_test.go
Due: none

fix(configuration): add authelia.pam to scopes in schema (#12705)
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
Due: backend

build(deps): update go toolchain directive to v1.26.6
  go.mod
Due: none

build(deps): update go toolchain directive to v1.26.6 (#12731)
  go.mod
Due: none

ci(buildkite): localised node artifacts
  .buildkite/hooks/post-artifact
  .buildkite/hooks/pre-command
Due: none

refactor: apply suggestions
  internal/model/user_ext_test.go
Due: backend

docs(oidc): update grafana (#12507)
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

test(server): make compatible with macos
  internal/server/server_test.go
Due: backend

refactor(cmd): note the required argument for release
  cmd/authelia-gen/cmd_release.go
  cmd/authelia-gen/cmd_root_test.go
  docs/content/reference/cli/authelia-gen/authelia-gen_release.md
Due: none

ci(buildkite): fix stale grype scans and leftover image tags
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/steps/grypescans.sh
Due: none

ci(buildkite): localised node artifacts (#12730)
  .buildkite/hooks/post-artifact
  .buildkite/hooks/pre-command
Due: none

ci(buildkite): fix stale grype scans and leftover image tags (#12751)
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/steps/grypescans.sh
Due: none

fix(api): missing and misleading endpoints (#12728)
  api/openapi.yml
Due: none

test(server): make compatible with macos (#12750)
  internal/server/server_test.go
Due: backend

refactor(cmd): note the required argument for release (#12749)
  cmd/authelia-gen/cmd_release.go
  cmd/authelia-gen/cmd_root_test.go
  docs/content/reference/cli/authelia-gen/authelia-gen_release.md
Due: none

refactor: suggestion
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_forwardauth.go
Due: backend

refactor: apply agreed suggestions
  internal/handlers/handler_oauth2_oidc_userinfo.go
Due: backend

refactor(handlers): factorize usages (#12727)
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_util.go
  internal/handlers/handler_authz_util_test.go
Due: backend

fix(handlers): always log proper error (#12595)
  internal/handlers/handler_oauth2_oidc_userinfo.go
Due: backend

docs: update envoy
  docs/content/integration/proxies/envoy.md
Due: none

fix(web): broken pointer-events and visually aligned components
  internal/suites/action_totp.go
  web/src/components/AppBarItemLanguage.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/components/UI/Stepper.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
Due: frontend

fix(suites): address dev environment setup timing issue
  internal/suites/environment.go
  internal/suites/scenario_multiple_cookie_domain_test.go
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_caddy.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_envoy.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_multi_cookie_domain.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik3.go
  internal/suites/suite_two_factor.go
  internal/suites/utils.go
Due: none
