Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: suggestions
  internal/suites/OIDCConformance/Dockerfile.server
  internal/suites/OIDCConformance/users.yml
Due: none

feat(handlers): respond to authz with cookie header
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/types.go
  internal/handlers/types_test.go
Due: backend

refactor: move nginx to portal [test debug]
  internal/suites/OIDCConformance/compose.yml
  internal/suites/conformance_compose_test.go
  internal/suites/example/compose/nginx/portal/compose.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/hosts.go
  internal/suites/suite_oidc_conformance.go
Due: none

Update web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: frontend

fix(web): include duo in first-device detection, trim comments
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.test.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: frontend

test(suites): add standalone e2e test for enrollment redirect dialog
  internal/suites/suite_standalone_test.go
Due: none

refactor: suite consistency
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_caddy.go
  internal/suites/suite_cli.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_envoy.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_kubernetes.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_multi_cookie_domain.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_conformance.go
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pam.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik3.go
  internal/suites/suite_two_factor.go
Due: none

feat(server): add a verbose health check endpoint
  config.template.yml
  docs/content/configuration/miscellaneous/server.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_health_verbose.go
  internal/handlers/handler_health_verbose_test.go
  internal/middlewares/const.go
  internal/middlewares/health.go
  internal/middlewares/health_test.go
  internal/server/handlers.go
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: backend

feat(storage): index the oauth2 cascade and add a clean command
  docs/content/reference/cli/authelia/authelia_storage.md
  docs/content/reference/cli/authelia/authelia_storage_clean.md
  docs/content/reference/cli/authelia/authelia_storage_clean_oauth2.md
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_clean_test.go
  internal/commands/storage_run.go
  internal/mocks/storage.go
  internal/storage/const.go
  internal/storage/migrations/mysql/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/mysql/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations/postgres/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/postgres/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations/sqlite/V0030.OAuth2ChallengeIDIndexes.down.sql
  internal/storage/migrations/sqlite/V0030.OAuth2ChallengeIDIndexes.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_clean_test.go
Due: backend

docs: publish webhook payload json schemas
  REUSE.toml
  docs/static/schemas/webhooks/v1/envelope-batch.json
  docs/static/schemas/webhooks/v1/envelope.json
  docs/static/schemas/webhooks/v1/security.authentication.failed.json
  docs/static/schemas/webhooks/v1/security.authentication.succeeded.json
  docs/static/schemas/webhooks/v1/security.ban.applied.json
  docs/static/schemas/webhooks/v1/security.ban.expired.json
  docs/static/schemas/webhooks/v1/user.credential.totp.added.json
  docs/static/schemas/webhooks/v1/user.credential.totp.removed.json
  docs/static/schemas/webhooks/v1/user.credential.webauthn.added.json
  docs/static/schemas/webhooks/v1/user.credential.webauthn.removed.json
  docs/static/schemas/webhooks/v1/user.identity_verification.started.json
  docs/static/schemas/webhooks/v1/user.password.changed.json
  docs/static/schemas/webhooks/v1/user.password.reset.json
  docs/static/schemas/webhooks/v1/user.session.elevation.requested.json
Due: none

docs: publish webhook payload json schemas (#13132)
  REUSE.toml
  docs/static/schemas/webhooks/v1/envelope-batch.json
  docs/static/schemas/webhooks/v1/envelope.json
  docs/static/schemas/webhooks/v1/security.authentication.failed.json
  docs/static/schemas/webhooks/v1/security.authentication.succeeded.json
  docs/static/schemas/webhooks/v1/security.ban.applied.json
  docs/static/schemas/webhooks/v1/security.ban.expired.json
  docs/static/schemas/webhooks/v1/user.credential.totp.added.json
  docs/static/schemas/webhooks/v1/user.credential.totp.removed.json
  docs/static/schemas/webhooks/v1/user.credential.webauthn.added.json
  docs/static/schemas/webhooks/v1/user.credential.webauthn.removed.json
  docs/static/schemas/webhooks/v1/user.identity_verification.started.json
  docs/static/schemas/webhooks/v1/user.password.changed.json
  docs/static/schemas/webhooks/v1/user.password.reset.json
  docs/static/schemas/webhooks/v1/user.session.elevation.requested.json
Due: none

docs: fix readme
  README.md
Due: none

fix(handlers): use correct status code for consent redirects
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_consent_core.go
  internal/handlers/handler_oauth2_authorization_consent_preconfigured_test.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_par_flow_test.go
  internal/oidc/errors.go
  internal/oidc/errors_test.go
Due: backend

feat(oidc): explicit token types
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/integration/openid-connect/introduction.md
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/types.go
Due: backend

refactor(handlers): use anonymous post endpoint
  internal/handlers/handler_flow.go
  internal/handlers/handler_flow_test.go
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_authorization_test.go
  internal/handlers/handler_oauth2_oidc_userinfo_extra_test.go
  internal/handlers/handler_oauth2_par_flow_test.go
  internal/handlers/oauth2_test.go
  internal/handlers/types.go
  internal/server/handlers.go
  web/src/services/Api.ts
  web/src/services/Flow.test.ts
  web/src/services/Flow.ts
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

feat(oidc): back-channel logout 1.0
  api/openapi.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/roadmap/active/openid-connect-1.0-provider.md
  docs/data/configkeys.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oauth2_authorization.go
  internal/handlers/handler_oauth2_device_authorization.go
  internal/handlers/handler_oauth2_oidc_backchannel_logout.go
  internal/handlers/handler_oauth2_oidc_backchannel_logout_test.go
  internal/mocks/oidc_client.go
  internal/oidc/backchannel_logout_test.go
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/discovery.go
  internal/oidc/provider.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/oidc/types_test.go
Due: backend

docs: fix readme (#13124)
  README.md
Due: none

feat(oidc): require signed request object
  api/openapi.yml
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/data/configkeys.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/types.go
Due: backend

feat(session): anchor sessions to the remote ip
  config.template.yml
  docs/content/configuration/session/introduction.md
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/session.go
  internal/session/strategy.go
  internal/session/strategy_anchor_test.go
  internal/session/strategy_test.go
  internal/session/types.go
  internal/session/types_msgp.go
  internal/session/types_msgp_gen.go
  internal/session/user_session_copy.go
  internal/session/user_session_copy_test.go
  internal/storage/sql_provider_session_test.go
Due: backend

ci(renovate): bump the netlify hugo version alongside hugo-extended
  .renovaterc
Due: none

docs: prepare the site build for hugo 0.166.0
  .golangci.yml
  docs/config/_default/hugo.toml
  docs/config/_default/languages.toml
  docs/layouts/_partials/header/header.html
  docs/layouts/home.html
  docs/pnpm-workspace.yaml
  internal/suites/external_suite_docs_test.go
Due: none

ci(renovate): bump the netlify hugo version alongside hugo-extended (#13139)
  .renovaterc
Due: none

docs: prepare the site build for hugo 0.166.0 (#13140)
  .golangci.yml
  docs/config/_default/hugo.toml
  docs/config/_default/languages.toml
  docs/layouts/_partials/header/header.html
  docs/layouts/home.html
  docs/pnpm-workspace.yaml
  internal/suites/external_suite_docs_test.go
Due: none

feat(identity): discord provider
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/discord.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/configuration/validator/const.go
  internal/identity/amr.go
  internal/identity/const.go
  internal/identity/doc.go
  internal/identity/provider_discord.go
  internal/identity/provider_discord_test.go
  internal/identity/registry.go
  internal/identity/registry_test.go
  internal/identity/types.go
Due: backend

feat(identity): github provider
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/github.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/identity/const.go
  internal/identity/provider_github.go
  internal/identity/provider_github_test.go
  internal/identity/registry.go
  internal/identity/types.go
Due: backend

feat(identity): plex provider
  docs/content/configuration/first-factor/external-identity.md
  docs/content/integration/external-identity/gitlab.md
  docs/content/integration/external-identity/introduction.md
  docs/content/integration/external-identity/plex.md
  internal/configuration/schema/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity.go
  internal/configuration/validator/authentication_external_identity_test.go
  internal/identity/const.go
  internal/identity/provider_plex.go
  internal/identity/provider_plex_test.go
  internal/identity/registry.go
  internal/identity/types.go
Due: backend

chore(web): bootstrap user management v2
  internal/suites/action_user_management.go
  internal/suites/scenario_user_management_ui_test.go
  internal/suites/suite_ldap_test.go
  web/src/components/UserInputField.test.tsx
  web/src/constants/Regex.ts
  web/src/hooks/GroupManagement.test.ts
  web/src/hooks/GroupManagement.ts
  web/src/hooks/UserManagement.test.ts
  web/src/hooks/UserManagement.ts
  web/src/models/UserManagement.test.ts
  web/src/models/UserManagement.ts
  web/src/services/GroupManagement.test.ts
  web/src/services/GroupManagement.ts
  web/src/services/UserManagement.test.ts
  web/src/services/UserManagement.ts
  web/src/utils/GeneratePassword.test.ts
  web/src/utils/GeneratePassword.ts
  web/src/views/Settings/Common/VerifyActionDialog.test.tsx
  web/src/views/Settings/Common/VerifyExitDialog.test.tsx
  web/src/views/Settings/UserManagement/EditUserDialog.test.tsx
  web/src/views/Settings/UserManagement/GroupManagementView.test.tsx
  web/src/views/Settings/UserManagement/NewGroupDialog.test.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.test.tsx
  web/src/views/Settings/UserManagement/SetPasswordDialog.test.tsx
  web/src/views/Settings/UserManagement/UserManagementView.test.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteGroupDialog.test.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteUserDialog.test.tsx
Due: frontend

feat(web): bootstrap user management v2
  internal/suites/action_user_management.go
  internal/suites/scenario_user_management_ui_test.go
  internal/suites/suite_ldap_test.go
  web/src/components/UserInputField.test.tsx
  web/src/constants/Regex.ts
  web/src/hooks/GroupManagement.test.ts
  web/src/hooks/GroupManagement.ts
  web/src/hooks/UserManagement.test.ts
  web/src/hooks/UserManagement.ts
  web/src/models/UserManagement.test.ts
  web/src/models/UserManagement.ts
  web/src/services/GroupManagement.test.ts
  web/src/services/GroupManagement.ts
  web/src/services/UserManagement.test.ts
  web/src/services/UserManagement.ts
  web/src/utils/GeneratePassword.test.ts
  web/src/utils/GeneratePassword.ts
  web/src/views/Settings/Common/VerifyActionDialog.test.tsx
  web/src/views/Settings/Common/VerifyExitDialog.test.tsx
  web/src/views/Settings/UserManagement/EditUserDialog.test.tsx
  web/src/views/Settings/UserManagement/GroupManagementView.test.tsx
  web/src/views/Settings/UserManagement/NewGroupDialog.test.tsx
  web/src/views/Settings/UserManagement/NewUserDialog.test.tsx
  web/src/views/Settings/UserManagement/SetPasswordDialog.test.tsx
  web/src/views/Settings/UserManagement/UserManagementView.test.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteGroupDialog.test.tsx
  web/src/views/Settings/UserManagement/VerifyDeleteUserDialog.test.tsx
Due: frontend

feat(web): user management data layer
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/AppBarItemAccountSettings.test.tsx
  web/src/components/AppBarLoginPortal.test.tsx
  web/src/hooks/GroupManagement.ts
  web/src/hooks/UserManagement.ts
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/Client.test.ts
  web/src/services/Client.ts
  web/src/services/UserInfo.test.ts
  web/src/services/UserInfo.ts
  web/src/views/LoginPortal/LoginPortal.test.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.test.tsx
  web/src/views/Settings/Security/SecurityView.test.tsx
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/mocks/, internal/suites/, internal/**/*_mock_test.go, **/coverage.txt
  frontend: any of: web/, but not: web/coverage/, web/src/serviceWorker.ts, **/coverage.txt
